# Homework 2

The goal of this Homework is to write Python code to answer each of the questions below. You should be able to answer these questions using Pandas only. You should not need to import any other packages. You should not use Excel or any other means to answer these questions. **Since questions have subquestions, it would be helpful if you use comments to clearly indicate which question you are answering**.

## Introduction
The Centers for Medicare & Medicaid Services ([CMS](cms.gov)) is a federal agency within the United States Department of Health and Human Services (HHS) that administers the **Medicare program** and works in partnership with state governments to administer Medicaid, the Children's Health Insurance Program (CHIP), and health insurance portability standards.
 - **Medicare** is a national health insurance program that provides health insurance for Americans aged 65 and over

The **Medicare Part D** program, also called the Medicare prescription drug benefit, is an optional United States federal-government program to help Medicare beneficiaries pay for self-administered prescription drugs through prescription drug insurance premiums.

CMS maintains a lot of [public info](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Part-D-Prescriber) on prescription drugs that are prescribed by individual physicians and other health care **providers** and paid for under the **Medicare Part D** Prescription Drug Program.

I downloaded the **2017 Provider Summary table** and sampled it down from 1.1 million records (360 MB) to roughly 6000 records (2MB). If you would like to check out the original dataset, you can download it from this site https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/PartD2017   

But for this assignment, you need to use the provided downsampled dataset `part_d_drug_prescriptions_sample2.csv`. If you would like, the data dictionary is available [here](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Prescriber_Methods.pdf). The applicable section is Table 2 in the Appendix.

In [1]:

import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', 200)

## Question 1

Use Pandas to import **part_d_drug_prescriptions_sample2.csv** into a DataFrame, named `part_d`. How many rows and colums does the dataset have?

In [2]:
part_d=pd.read_csv('part_d_drug_prescriptions_sample2.csv', encoding='utf-8') # read file data

In [3]:
print("rows of dataset=", len(part_d))       # the rows of dataset
print("columns of dataset=", len(part_d.columns))  # the columns of dataset

rows of dataset= 5815
columns of dataset= 84

## Question 2
This question has two parts:
1. Display the first 6 rows of `part_d`.
2. Display the last 6 rows of `part_d`.

In [4]:
part_d.head(6)       # get the first 6 rows of part_d

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,35.0,NaN,NaN,0.0,NaN,0.0,0.0,49.0,33.0,2.5022
2,1003020041,BAXTER,MARGARET,NaN,M.D.,F,I,1100 LONG POND RD,SUITE 250,ROCHESTER,...,221.0,544.0,NaN,NaN,17.0,0.0,26.0,515.0,95.0,1.0164
3,1003031212,KAYALI,FADI,NaN,M.D.,M,I,600 N CATTLEMEN RD,SUITE 200,SARASOTA,...,140.0,249.0,NaN,NaN,NaN,0.0,NaN,229.0,45.0,2.4311
4,1003043175,BENSON,REBECCA,L,D.D.S.,F,I,6601 LYNDALE AVE S,NaN,RICHFIELD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,20.0,0.0,1.0910
5,1003054206,SEILER,WARREN,B,MD,M,I,2700 ROGERS DR,SUITE 101,HOMEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
part_d.tail(6)    # get  the last 6 rows of part_d

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
5809,1992936330,MANLEY,CHRISTOPHER,J,MD,M,I,333 COTTMAN AVE,NaN,PHILADELPHIA,...,25.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2.5471
5810,1992949150,WANG,AMY,M,MD,F,I,3130 N COUNTY ROAD 25A,NaN,TROY,...,73.0,168.0,24.0,NaN,NaN,0.0,NaN,146.0,58.0,2.0090
5811,1992961429,PARKER,MELINDA,S,PA-C,F,I,3209 S 23RD ST,STE 340,TACOMA,...,59.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.9592
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,11.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,84.0,NaN,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090
5814,1992994446,PATETE,MICHAEL,L,"MD, FACS",M,I,213 PALERMO PL,NaN,VENICE,...,472.0,951.0,NaN,NaN,NaN,NaN,19.0,948.0,35.0,1.2319

## Question 3
This question has 4 parts:
1. Use the `info()` function to examine the DataFrame from a high level. Take a moment to look at the number of non-null values and the datatypes of each column. 
2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [6]:
#3.1
part_d.info()   # look at the number of non-null values and the datatypes of each column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815 entries, 0 to 5814
Data columns (total 84 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               5815 non-null   int64
 1   nppes_provider_last_org_name      5815 non-null   object
 2   nppes_provider_first_name         5815 non-null   object
 3   nppes_provider_mi                 4074 non-null   object
 4   nppes_credentials                 5461 non-null   object
 5   nppes_provider_gender             5815 non-null   object
 6   nppes_entity_code                 5815 non-null   object
 7   nppes_provider_street1            5815 non-null   object
 8   nppes_provider_street2            2107 non-null   object
 9   nppes_provider_city               5815 non-null   object
 10  nppes_provider_zip5               5815 non-null   float64
 11  nppes_provider_zip4               5031 non-null   float64
 12  nppes_provider_state              5815 non-null   object
 13  nppes_provider_country            5815 non-null   object
 14  specialty_description             5815 non-null   object
 15  description_flag                  5815 non-null   object
 16  medicare_prvdr_enroll_status      5815 non-null   object
 17  total_claim_count                 5815 non-null   int64
 18  total_30_day_fill_count           5815 non-null   float64
 19  total_drug_cost                   5815 non-null   float64
 20  total_day_supply                  5815 non-null   int64
 21  bene_count                        5186 non-null   float64
 22  ge65_suppress_flag                1295 non-null   object
 23  total_claim_count_ge65            4520 non-null   float64
 24  total_30_day_fill_count_ge65      4520 non-null   float64
 25  total_drug_cost_ge65              4520 non-null   float64
 26  total_day_supply_ge65             4520 non-null   float64
 27  bene_count_ge65_suppress_flag     2595 non-null   object
 28  bene_count_ge65                   3220 non-null   float64
 29  brand_suppress_flag               2324 non-null   object
 30  brand_claim_count                 3491 non-null   float64
 31  brand_drug_cost                   3491 non-null   float64
 32  generic_suppress_flag             1573 non-null   object
 33  generic_claim_count               4242 non-null   float64
 34  generic_drug_cost                 4242 non-null   float64
 35  other_suppress_flag               1224 non-null   object
 36  other_claim_count                 4591 non-null   float64
 37  other_drug_cost                   4591 non-null   float64
 38  mapd_suppress_flag                1096 non-null   object
 39  mapd_claim_count                  4719 non-null   float64
 40  mapd_drug_cost                    4719 non-null   float64
 41  pdp_suppress_flag                 1096 non-null   object
 42  pdp_claim_count                   4719 non-null   float64
 43  pdp_drug_cost                     4719 non-null   float64
 44  lis_suppress_flag                 1191 non-null   object
 45  lis_claim_count                   4624 non-null   float64
 46  lis_drug_cost                     4624 non-null   float64
 47  nonlis_suppress_flag              1191 non-null   object
 48  nonlis_claim_count                4624 non-null   float64
 49  nonlis_drug_cost                  4624 non-null   float64
 50  opioid_claim_count                4225 non-null   float64
 51  opioid_drug_cost                  4225 non-null   float64
 52  opioid_day_supply                 4225 non-null   float64
 53  opioid_bene_count                 3954 non-null   float64
 54  opioid_prescriber_rate            4225 non-null   float64
 55  la_opioid_claim_count             5099 non-null   float64
 56  la_opioid_drug_cost               5099 non-null   float64
 57  la_opioid_day_supply              5099 non-null   float64
 58  la_opioid_bene_count              4703 non-null   float64
 59  la_opioid_prescriber_rate         3340 non-null   float64
 60  antibiotic_claim_count            4112 non-null   float64
 61  antibiotic_drug_cost              4112 non-null   float64
 62  antibiotic_bene_count             3812 non-null   float64
 63  antipsych_ge65_suppress_flag      788 non-null    object
 64  antipsych_claim_count_ge65        5027 non-null   float64
 65  antipsych_drug_cost_ge65          5027 non-null   float64
 66  antipsych_bene_ge65_suppress_flg  1254 non-null   object
 67  antipsych_bene_count_ge65         4561 non-null   float64
 68  average_age_of_beneficiaries      5186 non-null   float64
 69  beneficiary_age_less_65_count     3220 non-null   float64
 70  beneficiary_age_65_74_count       2675 non-null   float64
 71  beneficiary_age_75_84_count       1815 non-null   float64
 72  beneficiary_age_greater_84_count  1935 non-null   float64
 73  beneficiary_female_count          4157 non-null   float64
 74  beneficiary_male_count            4157 non-null   float64
 75  beneficiary_race_white_count      2848 non-null   float64
 76  beneficiary_race_black_count      2004 non-null   float64
 77  beneficiary_race_asian_pi_count   2585 non-null   float64
 78  beneficiary_race_hispanic_count   2006 non-null   float64
 79  beneficiary_race_nat_ind_count    4176 non-null   float64
 80  beneficiary_race_other_count      1784 non-null   float64
 81  beneficiary_nondual_count         3455 non-null   float64
 82  beneficiary_dual_count            3455 non-null   float64
 83  beneficiary_average_risk_score    5186 non-null   float64
dtypes: float64(56), int64(3), object(25)
memory usage: 3.7+ MB

In [7]:
#3.2
print("the npi column have 5185 rows non-null values.")
#3.3
print("the data type of the npi column is int64.")
#3.4
print("A National Provider Identifier or NPI is a unique 10-digit identification number issued to health care providers \
in the United States by the Centers for Medicare and Medicaid Services (CMS)")

the npi column have 5185 rows non-null values.
the data type of the npi column is int64.
A National Provider Identifier or NPI is a unique 10-digit identification number issued to health care providers in the United States by the Centers for Medicare and Medicaid Services (CMS)

## Question 4
Take a look at the `nppes_provider_state` column. Compute the number of unique values in this column using at least two different methods.

In [8]:
print(part_d['nppes_provider_state'])    #  take a look at the column
print()

#method1
print("the number of unique values=", len(set(part_d['nppes_provider_state'])))  #  the number of unique values

0       MD
1       TN
2       NY
3       FL
4       MN
        ..
5810    OH
5811    WA
5812    MN
5813    MS
5814    FL
Name: nppes_provider_state, Length: 5815, dtype: object

the number of unique values= 55

In [9]:
print("the number of unique values=", pd.Series.nunique(part_d['nppes_provider_state']))  #  second method to find the number of unique values

the number of unique values= 55

## Question 5
Let's take a look at the `specialty_description` column. Use the `value_counts()` method to determine the TOP 5 specialties in the dataset as well as their frequencies.

In [10]:
print(part_d['specialty_description']) #take a look at the column

print("value_counts()=", part_d['specialty_description'].value_counts()) # statics frequencies of specialty_description columns

part_d['specialty_description'].value_counts()[:5]  # statics the TOP 5 specialties  in the dataset

0                        Internal Medicine
1                        Pulmonary Disease
2                          Family Practice
3                      Hematology-Oncology
4                                  Dentist
                       ...
5810                     Internal Medicine
5811                   Physician Assistant
5812                       General Surgery
5813    Clinical Cardiac Electrophysiology
5814                        Otolaryngology
Name: specialty_description, Length: 5815, dtype: object
value_counts()= Nurse Practitioner                                                785
Dentist                                                           647
Internal Medicine                                                 626
Family Practice                                                   565
Physician Assistant                                               446
Student in an Organized Health Care Education/Training Program    250
Emergency Medicine                                                250
Obstetrics & Gynecology                                           203
Optometry                                                         168
Psychiatry                                                        152
General Surgery                                                   121
Ophthalmology                                                     115
Cardiology                                                         96
Podiatry                                                           87
Orthopedic Surgery                                                 87
Neurology                                                          74
Gastroenterology                                                   62
Dermatology                                                        60
Psychiatry & Neurology                                             58
Pediatric Medicine                                                 52
Urology                                                            51
Hematology-Oncology                                                49
Pulmonary Disease                                                  49
Otolaryngology                                                     46
General Practice                                                   45
Nephrology                                                         35
Pharmacist                                                         34
Endocrinology                                                      31
Hospitalist                                                        30
Anesthesiology                                                     30
Rheumatology                                                       29
Physical Medicine and Rehabilitation                               29
Infectious Disease                                                 27
Radiation Oncology                                                 24
Plastic and Reconstructive Surgery                                 23
Oral Surgery (Dentist only)                                        23
Allergy/ Immunology                                                23
Interventional Cardiology                                          19
Neurosurgery                                                       19
Pain Management                                                    18
Vascular Surgery                                                   17
Medical Oncology                                                   17
Diagnostic Radiology                                               17
Orthopaedic Surgery                                                16
Certified Nurse Midwife                                            16
Specialist                                                         15
Clinical Cardiac Electrophysiology                                 14
Certified Clinical Nurse Specialist                                14
Neuropsychiatry                                                    10
Interventional Pain Management                                     10
Geriatric Medicine                                                  9
Critical Care (Intensivists)                                        8
Plastic Surgery                                                     8
Colorectal Surgery (Proctology)                                     7
Gynecological Oncology                                              6
Interventional Radiology                                            6
Thoracic Surgery                                                    6
Sports Medicine                                                     6
Hand Surgery                                                        6
Preventive Medicine                                                 5
Undefined Physician type                                            5
Hospice and Palliative Care                                         4
General Acute Care Hospital                                         4
Pathology                                                           4
Registered Nurse                                                    4
Naturopath                                                          4
Cardiac Surgery                                                     4
Osteopathic Manipulative Medicine                                   4
Surgical Oncology                                                   3
Oral & Maxillofacial Surgery                                        3
Maxillofacial Surgery                                               3
Psychologist, Clinical                                              2
Legal Medicine                                                      2
Hematology                                                          2
Chiropractic                                                        2
Family Medicine                                                     2
Neuromusculoskeletal Medicine, Sports Medicine                      1
Case Manager/Care Coordinator                                       1
Specialist/Technologist                                             1
Counselor                                                           1
Addiction Medicine                                                  1
Emergency Medical Technician, Basic                                 1
Nuclear Medicine                                                    1
Certified Registered Nurse Anesthetist (CRNA)                       1
Local Education Agency (LEA)                                        1
Acupuncturist                                                       1
Clinic/Center                                                       1
Independent Medical Examiner                                        1
Name: specialty_description, dtype: int64

Nurse Practitioner     785
Dentist                647
Internal Medicine      626
Family Practice        565
Physician Assistant    446
Name: specialty_description, dtype: int64

## Question 6
This question has four parts:
1. Define a variable `N` equal to the number of rows in the DataFrame, using the DataFrame `len` or `shape` methods.
2. Append the `cumsum()` function to the output of the `value_counts()` function on the `specialty_description` field  and divide the output by `N` to obtain the cumulative ratio to the total count. 
3. Create a boolean variable (eg a mask) which resolves to `True` if the cumulative sum is less than 75%, else `False`.
4. Use this boolean mask to filter the output of `value_counts()` to identify the columns that contribute to the first 75% of all specialities.

In [11]:
#6.1
N = len(part_d)   # compute the number of rows in the DataFrame

In [12]:
#6.2
# part_d['specialty_description'].value_counts().cumsum()/N   
ratio_of_specialty_cumsum=part_d['specialty_description'].value_counts().cumsum()/N   # compute the cummulative frequencies of the total count

print(ratio_of_specialty_cumsum)

Nurse Practitioner                                                0.134996
Dentist                                                           0.246260
Internal Medicine                                                 0.353912
Family Practice                                                   0.451075
Physician Assistant                                               0.527773
Student in an Organized Health Care Education/Training Program    0.570765
Emergency Medicine                                                0.613758
Obstetrics & Gynecology                                           0.648667
Optometry                                                         0.677558
Psychiatry                                                        0.703697
General Surgery                                                   0.724506
Ophthalmology                                                     0.744282
Cardiology                                                        0.760791
Podiatry                                                          0.775752
Orthopedic Surgery                                                0.790714
Neurology                                                         0.803439
Gastroenterology                                                  0.814101
Dermatology                                                       0.824420
Psychiatry & Neurology                                            0.834394
Pediatric Medicine                                                0.843336
Urology                                                           0.852107
Hematology-Oncology                                               0.860533
Pulmonary Disease                                                 0.868960
Otolaryngology                                                    0.876870
General Practice                                                  0.884609
Nephrology                                                        0.890628
Pharmacist                                                        0.896475
Endocrinology                                                     0.901806
Hospitalist                                                       0.906965
Anesthesiology                                                    0.912124
Rheumatology                                                      0.917111
Physical Medicine and Rehabilitation                              0.922098
Infectious Disease                                                0.926741
Radiation Oncology                                                0.930868
Plastic and Reconstructive Surgery                                0.934824
Oral Surgery (Dentist only)                                       0.938779
Allergy/ Immunology                                               0.942734
Interventional Cardiology                                         0.946002
Neurosurgery                                                      0.949269
Pain Management                                                   0.952365
Vascular Surgery                                                  0.955288
Medical Oncology                                                  0.958212
Diagnostic Radiology                                              0.961135
Orthopaedic Surgery                                               0.963887
Certified Nurse Midwife                                           0.966638
Specialist                                                        0.969218
Clinical Cardiac Electrophysiology                                0.971625
Certified Clinical Nurse Specialist                               0.974033
Neuropsychiatry                                                   0.975752
Interventional Pain Management                                    0.977472
Geriatric Medicine                                                0.979020
Critical Care (Intensivists)                                      0.980396
Plastic Surgery                                                   0.981771
Colorectal Surgery (Proctology)                                   0.982975
Gynecological Oncology                                            0.984007
Interventional Radiology                                          0.985039
Thoracic Surgery                                                  0.986071
Sports Medicine                                                   0.987102
Hand Surgery                                                      0.988134
Preventive Medicine                                               0.988994
Undefined Physician type                                          0.989854
Hospice and Palliative Care                                       0.990542
General Acute Care Hospital                                       0.991230
Pathology                                                         0.991917
Registered Nurse                                                  0.992605
Naturopath                                                        0.993293
Cardiac Surgery                                                   0.993981
Osteopathic Manipulative Medicine                                 0.994669
Surgical Oncology                                                 0.995185
Oral & Maxillofacial Surgery                                      0.995701
Maxillofacial Surgery                                             0.996217
Psychologist, Clinical                                            0.996561
Legal Medicine                                                    0.996905
Hematology                                                        0.997248
Chiropractic                                                      0.997592
Family Medicine                                                   0.997936
Neuromusculoskeletal Medicine, Sports Medicine                    0.998108
Case Manager/Care Coordinator                                     0.998280
Specialist/Technologist                                           0.998452
Counselor                                                         0.998624
Addiction Medicine                                                0.998796
Emergency Medical Technician, Basic                               0.998968
Nuclear Medicine                                                  0.999140
Certified Registered Nurse Anesthetist (CRNA)                     0.999312
Local Education Agency (LEA)                                      0.999484
Acupuncturist                                                     0.999656
Clinic/Center                                                     0.999828
Independent Medical Examiner                                      1.000000
Name: specialty_description, dtype: float64

In [13]:
#6.3
mask = ratio_of_specialty_cumsum < 0.75   # filter  the data whose cumulative sum is less than 75%
print(mask)

Nurse Practitioner                                                 True
Dentist                                                            True
Internal Medicine                                                  True
Family Practice                                                    True
Physician Assistant                                                True
Student in an Organized Health Care Education/Training Program     True
Emergency Medicine                                                 True
Obstetrics & Gynecology                                            True
Optometry                                                          True
Psychiatry                                                         True
General Surgery                                                    True
Ophthalmology                                                      True
Cardiology                                                        False
Podiatry                                                          False
Orthopedic Surgery                                                False
Neurology                                                         False
Gastroenterology                                                  False
Dermatology                                                       False
Psychiatry & Neurology                                            False
Pediatric Medicine                                                False
Urology                                                           False
Hematology-Oncology                                               False
Pulmonary Disease                                                 False
Otolaryngology                                                    False
General Practice                                                  False
Nephrology                                                        False
Pharmacist                                                        False
Endocrinology                                                     False
Hospitalist                                                       False
Anesthesiology                                                    False
Rheumatology                                                      False
Physical Medicine and Rehabilitation                              False
Infectious Disease                                                False
Radiation Oncology                                                False
Plastic and Reconstructive Surgery                                False
Oral Surgery (Dentist only)                                       False
Allergy/ Immunology                                               False
Interventional Cardiology                                         False
Neurosurgery                                                      False
Pain Management                                                   False
Vascular Surgery                                                  False
Medical Oncology                                                  False
Diagnostic Radiology                                              False
Orthopaedic Surgery                                               False
Certified Nurse Midwife                                           False
Specialist                                                        False
Clinical Cardiac Electrophysiology                                False
Certified Clinical Nurse Specialist                               False
Neuropsychiatry                                                   False
Interventional Pain Management                                    False
Geriatric Medicine                                                False
Critical Care (Intensivists)                                      False
Plastic Surgery                                                   False
Colorectal Surgery (Proctology)                                   False
Gynecological Oncology                                            False
Interventional Radiology                                          False
Thoracic Surgery                                                  False
Sports Medicine                                                   False
Hand Surgery                                                      False
Preventive Medicine                                               False
Undefined Physician type                                          False
Hospice and Palliative Care                                       False
General Acute Care Hospital                                       False
Pathology                                                         False
Registered Nurse                                                  False
Naturopath                                                        False
Cardiac Surgery                                                   False
Osteopathic Manipulative Medicine                                 False
Surgical Oncology                                                 False
Oral & Maxillofacial Surgery                                      False
Maxillofacial Surgery                                             False
Psychologist, Clinical                                            False
Legal Medicine                                                    False
Hematology                                                        False
Chiropractic                                                      False
Family Medicine                                                   False
Neuromusculoskeletal Medicine, Sports Medicine                    False
Case Manager/Care Coordinator                                     False
Specialist/Technologist                                           False
Counselor                                                         False
Addiction Medicine                                                False
Emergency Medical Technician, Basic                               False
Nuclear Medicine                                                  False
Certified Registered Nurse Anesthetist (CRNA)                     False
Local Education Agency (LEA)                                      False
Acupuncturist                                                     False
Clinic/Center                                                     False
Independent Medical Examiner                                      False
Name: specialty_description, dtype: bool

In [14]:
#6.4
ratio_of_specialty_cumsum.loc[mask]

Nurse Practitioner                                                0.134996
Dentist                                                           0.246260
Internal Medicine                                                 0.353912
Family Practice                                                   0.451075
Physician Assistant                                               0.527773
Student in an Organized Health Care Education/Training Program    0.570765
Emergency Medicine                                                0.613758
Obstetrics & Gynecology                                           0.648667
Optometry                                                         0.677558
Psychiatry                                                        0.703697
General Surgery                                                   0.724506
Ophthalmology                                                     0.744282
Name: specialty_description, dtype: float64

## Question 7:
Take a look at these two columns: `total_claim_count` and `opioid_claim_count`. Define a new column that stores the ratio of the two, eg:
```python
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
```
Let us define **high opioid providers** as those who have an `opioid_claim_rate` that is greater than or equal to 50%. This question has three parts:
1. Run the describe method on the `opioid_claim_rate` column and note the statistics.
2. Use TWO different methods to calculate how many **high opioid providers** there are in the dataset. (Hint: you can use the sum of a boolean variable for one method and the size of a filtered dataset for the other method).
3. Use TWO different methods to identify the top 3 states that have the highest number of **high opioid providers**. (Hint: you can use value_counts for one method and groupby for the other method).

In [15]:
#7.1
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
print(part_d['opioid_claim_rate'])

part_d['opioid_claim_rate'].describe()  # the statistics of opioid_claim_rate

0       0.036928
1            NaN
2       0.057234
3       0.107958
4            NaN
          ...
5810    0.033501
5811    0.000000
5812         NaN
5813         NaN
5814    0.024896
Name: opioid_claim_rate, Length: 5815, dtype: float64

count    4225.000000
mean        0.097227
std         0.164038
min         0.000000
25%         0.000000
50%         0.022523
75%         0.113238
max         1.000000
Name: opioid_claim_rate, dtype: float64

In [16]:
#7.2
#method1
boolean_list2 = part_d['opioid_claim_rate'] >= 0.5    # get the boolean list  
print("sum(boolean_list)=", sum(boolean_list2))      # use the sum of a boolean variable

#mehod2
fiter_part_d = part_d[part_d['opioid_claim_rate']>=0.5]     # get the matched dataframe
print("len(fiter_part_d)=", len(fiter_part_d))
print()

sum(boolean_list)= 209
len(fiter_part_d)= 209

In [17]:
#7.3
high_opioid_providers = part_d[part_d['opioid_claim_rate']>=0.5]  # get the matched dataframe

#method1
data_sorted = high_opioid_providers['nppes_provider_state'].value_counts()
print(data_sorted.head(3))

#method2
group_by_data = high_opioid_providers.groupby('nppes_provider_state')['opioid_claim_count'].count().sort_values(ascending=False)
group_by_data.head(3)

CA    19
FL    15
MI    12
Name: nppes_provider_state, dtype: int64

nppes_provider_state
CA    19
FL    15
NY    12
Name: opioid_claim_count, dtype: int64

# Question 8:

Using the opioid_claim_rate column computed in the previous question:
Create a new DataFrame g that aggregates the nppes_provider_gender column using the groupby method and the size function to output the gender breakdown in the dataset. You can use this code to answer this question:

g = part_d.groupby('nppes_provider_gender').size().reset_index()

Use the rename method to rename the columns of DataFrame g to gender and count.
Now compute the aggregation of the dataset by gender but filtered to the high opioid providers. Name the DataFrame g2. Rename the columns to gender and high_opioid_count.
Join the DataFrames g and g2 using the gender column as the key. The final result should look like this:

gender    count    high_opioid_count
 F    2458    62
 M    3357    147

Compute the ratio of high_opioid_count to count for each row and note the differenc

In [18]:
#8.1
g = part_d.groupby('nppes_provider_gender').size().reset_index()       # get the count of every kind
print(g)

  nppes_provider_gender     0
0                     F  2458
1                     M  3357

In [19]:
#8.2
colNameDict = {'nppes_provider_gender':'gender', 0: 'count'}   # rename the columns
g.rename(columns = colNameDict,inplace=True)

g

  gender  count
0      F   2458
1      M   3357

In [20]:
#8.3
g2 = high_opioid_providers.groupby('nppes_provider_gender').size().reset_index()    # get the number of every kind
new_colNameDict = {'nppes_provider_gender':'gender', 0: 'high_opioid_count'}     
g2.rename(columns = new_colNameDict,inplace=True)             # rename the column
print(g2)
print()

#8.4
final_result_df = pd.merge(g, g2, how='inner', on=['gender'])    # combine the two dataframe on the gender column
print(final_result_df)
print()

#8.5
final_result_df['ratio_of_high_opioid_count'] = final_result_df['high_opioid_count']/final_result_df['count']
print(final_result_df)

  gender  high_opioid_count
0      F                 62
1      M                147

  gender  count  high_opioid_count
0      F   2458                 62
1      M   3357                147

  gender  count  high_opioid_count  ratio_of_high_opioid_count
0      F   2458                 62                    0.025224
1      M   3357                147                    0.043789

## Question 9:
The Office of Inspector General ([OIG](https://oig.hhs.gov/)) has the authority to **exclude** individuals and entities from Federally funded health care programs. To be excluded is quite serious, as you can see from their website:

>The OIG maintains a list of all currently excluded individuals and entities called the List of Excluded Individuals/Entities (LEIE). Anyone who hires an individual or entity on the LEIE may be subject to civil monetary penalties (CMP). To avoid CMP liability, health care entities should routinely check the list to ensure that new hires and current employees are not on it.

This list is publicaly available, [here](https://oig.hhs.gov/exclusions/exclusions_list.asp). I have downloaded this file in its entirety (in December 2020) and have stripped it down to the columns we need.

Load the provided file into a DataFrame, named `exclusions`:

```python
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
```
This question has a number of parts:

1. Print the number of rows and columns in the exclusions dataset.
2. Display the first 6 rows the DataFrame. 
3. Display 3 random rows of the DataFrame using the `sample` method.
4. Use the `nunique` method to determine the number of unique NPIs. Compare this to the size of the dataset - what do you observe?
5. Are there any NULL `NPI` values?
6. What is the most frequent `NPI` value?
7. Apply the `unique` method to the NPI column and convert the outcome to a list of NPIs (hint use the `tolist` method). Store the output in a variable called `npis`. What is the length of `npis`?
8. Apply the `isin` method to `part_d` to tag the rows whose NPI is in the list of excluded NPIs. You can use the following code. How many records are there in `excluded1`?
```python
excluded1 = part_d[part_d['npi'].isin(npis)]
```

In [21]:
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')      # read csv data
#9.1
print("the row nums of exclusions is ", len(exclusions))        # the row nums of exclusions
print("the column nums of exclusions is ", len(exclusions.columns))   # the column nums of exclusions
#9.2
exclusions.head(6)       # get the head 6 rows

the row nums of exclusions is  69858
the column nums of exclusions is  4

   LASTNAME    FIRSTNAME STATE  NPI
0   AALDERS        NANCY    IL    0
1  AALTONEN     NICKOLAS    WA    0
2     AAMIR     MUHAMMAD    MI    0
3     AARON        ALINA    AZ    0
4     AARON  CHRISTOPHER    PA    0
5     AARON      DEBORAH    TX    0

In [22]:
#9.3
random_3_rows = exclusions.sample(3)        # randomly select three samples
print("random_3_rows=", random_3_rows)
print()

#9.4
print("pd.Series.nunique(exclusions['NPI'])=", pd.Series.nunique(exclusions['NPI']))      # get nums of kinds of NPI
percent_unique = pd.Series.nunique(exclusions['NPI'])/len(exclusions) 
print("percent_unique=", percent_unique)
print("number of unique NPIs only takes about 7.4% of the whole data")
print()

#9.5
percent_missing = exclusions['NPI'].isnull().sum()/len(exclusions) 
print("percent_missing=", percent_missing)
print("there is no NULL NPI value")
print()

#9.6
print("the most frequent NPI value is ", exclusions['NPI'].mode()[0])      # get the mode of NPI
print()

#9.7
npis = list(exclusions['NPI'].unique())     # get nums of kinds of NPI
print("the length of npis=", len(npis))
print()

#9.8
excluded1 = part_d[part_d['npi'].isin(npis)]  
print("the records in excluded1=", len(excluded1))
excluded1.head(3)

random_3_rows=       LASTNAME FIRSTNAME STATE  NPI
34434    KOYEN     SCOTT    WA    0
53923     ROMO     JULIO    CA    0
34438  KOZELKA   CHARLES    OH    0

pd.Series.nunique(exclusions['NPI'])= 5200
percent_unique= 0.07443671447794097
number of unique NPIs only takes about 7.4% of the whole data

percent_missing= 0.0
there is no NULL NPI value

the most frequent NPI value is  0

the length of npis= 5200

the records in excluded1= 2

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate
3814,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,319.0,NaN,NaN,15.0,NaN,NaN,214.0,138.0,1.3818,0.089926
4481,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,427.0,25.0,NaN,NaN,0.0,NaN,168.0,295.0,1.6193,0.119433

## Question 10
In question 9 we searched for records in the part_d DataFrame whose NPI was in the exclusions dataset. Matching across the NPI yielded only 2 excluded providers. This seems suspicious. The problem is probably due to the fact that so many of the NPIs in the excluded dataset are marked as `0`. Perhaps we can do better by matching across first and last names. Let's do that in these steps.
1. As a sanity check, let's first do a merge between the two datasets on NPI. Your results should confirm the result obtained in question 9. For convenience, define this list of columns:
```python
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]
```
Perform the merge and display the output for the columns in `cols`. You can use the following code to answer this question:
```python
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
         left_on = ['npi'],
         right_on = ['NPI']
        )
excluded2[cols]
```
Your results should match the results from Question 9.


2. Since we are going to match across names, let's first convert the applicable columns to upper case and strip out any leading or trailing spaces. You can use the following code to answer this question but you'll need to apply it to the remaining first and last name columns, eg 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'FIRSTNAME' and 'LASTNAME'
```python
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
```

3. Run another inner join across both datasets using first and last names. My result had 461 rows. Please take a look at the dataset filtering on the columns in `cols` as done above. What do you notice? 


4. In order to conduct a better quality match, include the state in your join keys. You should now be matching on first name, last name and state. My result had 22 records. I feel more confident in this match since the names and state lines up. You'll notice that some of the providers have 0 `opioid_claim_rate`. This is not that surprising as there are many different kinds of behaviors that a provider can engage in in order to get on the exclusisons list.

In [23]:
#10.1
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]

In [24]:
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', left_on = ['npi'], right_on = ['NPI'])  # combine the two dataframe

excluded2[cols]

# print(excluded1[cols])
# compare excluded2 with excluded1

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
1,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433

In [25]:
#10.2
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
part_d['nppes_provider_last_org_name'] = part_d['nppes_provider_last_org_name'].str.upper().str.strip()
exclusions['FIRSTNAME'] = exclusions['FIRSTNAME'].str.upper().str.strip()
exclusions['LASTNAME'] = exclusions['LASTNAME'].str.upper().str.strip()

In [26]:
#10.3
excluded3 = pd.merge(left = part_d, right = exclusions, how = 'inner', left_on = ['nppes_provider_first_name', 'nppes_provider_last_org_name'], right_on = ['FIRSTNAME', 'LASTNAME'])
print(excluded3[cols])

            npi nppes_provider_first_name nppes_provider_last_org_name  \
0    1003153628                   RICHARD                      COLEMAN
1    1003290974                   MARILYN                        JONES
2    1003811837                      MARK                     ROBINSON
3    1346286507                      MARK                     ROBINSON
4    1003868787                   DOUGLAS                       NELSON
..          ...                       ...                          ...
430  1982648333                   TIMOTHY                       MILLER
431  1982668497                    ANDREW                     JIMERSON
432  1992142632                   JESSICA                     MARSHALL
433  1992786305                      JOHN                          FOX
434  1992905616                    SHARON                          LEE

    nppes_provider_state         NPI FIRSTNAME  LASTNAME STATE  \
0                     TX           0   RICHARD   COLEMAN    CA
1                     IN           0   MARILYN     JONES    AR
2                     OH  1427112325      MARK  ROBINSON    NH
3                     CA  1427112325      MARK  ROBINSON    NH
4                     IL           0   DOUGLAS    NELSON    IA
..                   ...         ...       ...       ...   ...
430                   WV           0   TIMOTHY    MILLER    UT
431                   GA  1427056076    ANDREW  JIMERSON    OH
432                   OH           0   JESSICA  MARSHALL    FL
433                   KS           0      JOHN       FOX    AL
434                   CA           0    SHARON       LEE    TX

     opioid_claim_rate
0             0.047162
1             0.017435
2             0.000000
3             0.000000
4             0.196429
..                 ...
430                NaN
431           0.175676
432           0.083333
433           0.048907
434                NaN

[435 rows x 9 columns]

In [27]:
#10.4
excluded4 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name','nppes_provider_state'],
      right_on = ['FIRSTNAME','LASTNAME','STATE']
     )
excluded4[cols]

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1013070861,CHARLES,HARRIS,TX,0,CHARLES,HARRIS,TX,0.000000
1,1053349506,JOSE,TORRES,FL,0,JOSE,TORRES,FL,0.040196
2,1144278052,ROBERT,TAYLOR,CA,0,ROBERT,TAYLOR,CA,0.000000
3,1144382672,MARY,SMITH,MS,0,MARY,SMITH,MS,0.000000
4,1184608903,ROBERT,LEE,IL,0,ROBERT,LEE,IL,0.172285
5,1205807864,ROBERT,ROTH,CA,1700869864,ROBERT,ROTH,CA,NaN
6,1205839776,MARTHA,MARTINEZ,TX,0,MARTHA,MARTINEZ,TX,NaN
7,1275501629,ROBERT,JONES,CA,0,ROBERT,JONES,CA,0.034858
8,1346213907,STEPHEN,LEE,PA,0,STEPHEN,LEE,PA,0.000000
9,1346223179,RICHARD,SMITH,IL,0,RICHARD,SMITH,IL,0.000000
10,1356315410,DUC,NGUYEN,CA,0,DUC,NGUYEN,CA,0.727273
11,1356408017,ROBERT,GONZALES,CA,0,ROBERT,GONZALES,CA,0.000000
12,1427333186,REBECCA,MARTIN,TX,0,REBECCA,MARTIN,TX,0.000000
13,1518012954,DAVID,WILLIAMS,CA,0,DAVID,WILLIAMS,CA,0.281746
14,1528326428,WILLIAM,LANE,MA,0,WILLIAM,LANE,MA,0.261905
15,1538442017,JENNIFER,ORTIZ,NY,0,JENNIFER,ORTIZ,NY,0.000000
16,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
17,1700185345,ALAN,KATZ,NY,0,ALAN,KATZ,NY,0.000000
18,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433
19,1871955906,CARMEN,LOPEZ,FL,0,CARMEN,LOPEZ,FL,0.000000
20,1942309596,MARGARITA,RODRIGUEZ,FL,0,MARGARITA,RODRIGUEZ,FL,NaN
21,1942592324,JENNIFER,SMITH,NC,0,JENNIFER,SMITH,NC,0.036195