# Homework 2

The goal of this Homework is to write Python code to answer each of the questions below. You should be able to answer these questions using Pandas only. You should not need to import any other packages. You should not use Excel or any other means to answer these questions. **Since questions have subquestions, it would be helpful if you use comments to clearly indicate which question you are answering**.

## Introduction
The Centers for Medicare & Medicaid Services ([CMS](cms.gov)) is a federal agency within the United States Department of Health and Human Services (HHS) that administers the **Medicare program** and works in partnership with state governments to administer Medicaid, the Children's Health Insurance Program (CHIP), and health insurance portability standards.
 - **Medicare** is a national health insurance program that provides health insurance for Americans aged 65 and over

The **Medicare Part D** program, also called the Medicare prescription drug benefit, is an optional United States federal-government program to help Medicare beneficiaries pay for self-administered prescription drugs through prescription drug insurance premiums.

CMS maintains a lot of [public info](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Part-D-Prescriber) on prescription drugs that are prescribed by individual physicians and other health care **providers** and paid for under the **Medicare Part D** Prescription Drug Program.

I downloaded the **2017 Provider Summary table** and sampled it down from 1.1 million records (360 MB) to roughly 6000 records (2MB). If you would like to check out the original dataset, you can download it from this site https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/PartD2017   

But for this assignment, you need to use the provided downsampled dataset `part_d_drug_prescriptions_sample2.csv`. If you would like, the data dictionary is available [here](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Prescriber_Methods.pdf). The applicable section is Table 2 in the Appendix.

In [244]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', 200)

## Question 1

Use Pandas to import **part_d_drug_prescriptions_sample2.csv** into a DataFrame, named `part_d`. How many rows and colums does the dataset have?

In [245]:
part_d = pd.read_csv('part_d_drug_prescriptions_sample2.csv')

In [246]:
part_d.shape #(rows, columns)

(5815, 84)

## Question 2
This question has two parts:
1. Display the first 6 rows of `part_d`.
2. Display the last 6 rows of `part_d`.

In [247]:
part_d.head(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,35.0,NaN,NaN,0.0,NaN,0.0,0.0,49.0,33.0,2.5022
2,1003020041,BAXTER,MARGARET,NaN,M.D.,F,I,1100 LONG POND RD,SUITE 250,ROCHESTER,...,221.0,544.0,NaN,NaN,17.0,0.0,26.0,515.0,95.0,1.0164
3,1003031212,KAYALI,FADI,NaN,M.D.,M,I,600 N CATTLEMEN RD,SUITE 200,SARASOTA,...,140.0,249.0,NaN,NaN,NaN,0.0,NaN,229.0,45.0,2.4311
4,1003043175,BENSON,REBECCA,L,D.D.S.,F,I,6601 LYNDALE AVE S,NaN,RICHFIELD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,20.0,0.0,1.0910
5,1003054206,SEILER,WARREN,B,MD,M,I,2700 ROGERS DR,SUITE 101,HOMEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
part_d.tail(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
5809,1992936330,MANLEY,CHRISTOPHER,J,MD,M,I,333 COTTMAN AVE,NaN,PHILADELPHIA,...,25.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2.5471
5810,1992949150,WANG,AMY,M,MD,F,I,3130 N COUNTY ROAD 25A,NaN,TROY,...,73.0,168.0,24.0,NaN,NaN,0.0,NaN,146.0,58.0,2.0090
5811,1992961429,PARKER,MELINDA,S,PA-C,F,I,3209 S 23RD ST,STE 340,TACOMA,...,59.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.9592
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,11.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,84.0,NaN,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090
5814,1992994446,PATETE,MICHAEL,L,"MD, FACS",M,I,213 PALERMO PL,NaN,VENICE,...,472.0,951.0,NaN,NaN,NaN,NaN,19.0,948.0,35.0,1.2319

## Question 3
This question has 4 parts:
1. Use the `info()` function to examine the DataFrame from a high level. Take a moment to look at the number of non-null values and the datatypes of each column. 
2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [249]:
part_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815 entries, 0 to 5814
Data columns (total 84 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               5815 non-null   int64
 1   nppes_provider_last_org_name      5815 non-null   object
 2   nppes_provider_first_name         5815 non-null   object
 3   nppes_provider_mi                 4074 non-null   object
 4   nppes_credentials                 5461 non-null   object
 5   nppes_provider_gender             5815 non-null   object
 6   nppes_entity_code                 5815 non-null   object
 7   nppes_provider_street1            5815 non-null   object
 8   nppes_provider_street2            2107 non-null   object
 9   nppes_provider_city               5815 non-null   object
 10  nppes_provider_zip5               5815 non-null   float64
 11  nppes_provider_zip4               5031 non-null   float64
 12  nppes_provider_state              5815 non-null   object
 13  nppes_provider_country            5815 non-null   object
 14  specialty_description             5815 non-null   object
 15  description_flag                  5815 non-null   object
 16  medicare_prvdr_enroll_status      5815 non-null   object
 17  total_claim_count                 5815 non-null   int64
 18  total_30_day_fill_count           5815 non-null   float64
 19  total_drug_cost                   5815 non-null   float64
 20  total_day_supply                  5815 non-null   int64
 21  bene_count                        5186 non-null   float64
 22  ge65_suppress_flag                1295 non-null   object
 23  total_claim_count_ge65            4520 non-null   float64
 24  total_30_day_fill_count_ge65      4520 non-null   float64
 25  total_drug_cost_ge65              4520 non-null   float64
 26  total_day_supply_ge65             4520 non-null   float64
 27  bene_count_ge65_suppress_flag     2595 non-null   object
 28  bene_count_ge65                   3220 non-null   float64
 29  brand_suppress_flag               2324 non-null   object
 30  brand_claim_count                 3491 non-null   float64
 31  brand_drug_cost                   3491 non-null   float64
 32  generic_suppress_flag             1573 non-null   object
 33  generic_claim_count               4242 non-null   float64
 34  generic_drug_cost                 4242 non-null   float64
 35  other_suppress_flag               1224 non-null   object
 36  other_claim_count                 4591 non-null   float64
 37  other_drug_cost                   4591 non-null   float64
 38  mapd_suppress_flag                1096 non-null   object
 39  mapd_claim_count                  4719 non-null   float64
 40  mapd_drug_cost                    4719 non-null   float64
 41  pdp_suppress_flag                 1096 non-null   object
 42  pdp_claim_count                   4719 non-null   float64
 43  pdp_drug_cost                     4719 non-null   float64
 44  lis_suppress_flag                 1191 non-null   object
 45  lis_claim_count                   4624 non-null   float64
 46  lis_drug_cost                     4624 non-null   float64
 47  nonlis_suppress_flag              1191 non-null   object
 48  nonlis_claim_count                4624 non-null   float64
 49  nonlis_drug_cost                  4624 non-null   float64
 50  opioid_claim_count                4225 non-null   float64
 51  opioid_drug_cost                  4225 non-null   float64
 52  opioid_day_supply                 4225 non-null   float64
 53  opioid_bene_count                 3954 non-null   float64
 54  opioid_prescriber_rate            4225 non-null   float64
 55  la_opioid_claim_count             5099 non-null   float64
 56  la_opioid_drug_cost               5099 non-null   float64
 57  la_opioid_day_supply              5099 non-null   float64
 58  la_opioid_bene_count              4703 non-null   float64
 59  la_opioid_prescriber_rate         3340 non-null   float64
 60  antibiotic_claim_count            4112 non-null   float64
 61  antibiotic_drug_cost              4112 non-null   float64
 62  antibiotic_bene_count             3812 non-null   float64
 63  antipsych_ge65_suppress_flag      788 non-null    object
 64  antipsych_claim_count_ge65        5027 non-null   float64
 65  antipsych_drug_cost_ge65          5027 non-null   float64
 66  antipsych_bene_ge65_suppress_flg  1254 non-null   object
 67  antipsych_bene_count_ge65         4561 non-null   float64
 68  average_age_of_beneficiaries      5186 non-null   float64
 69  beneficiary_age_less_65_count     3220 non-null   float64
 70  beneficiary_age_65_74_count       2675 non-null   float64
 71  beneficiary_age_75_84_count       1815 non-null   float64
 72  beneficiary_age_greater_84_count  1935 non-null   float64
 73  beneficiary_female_count          4157 non-null   float64
 74  beneficiary_male_count            4157 non-null   float64
 75  beneficiary_race_white_count      2848 non-null   float64
 76  beneficiary_race_black_count      2004 non-null   float64
 77  beneficiary_race_asian_pi_count   2585 non-null   float64
 78  beneficiary_race_hispanic_count   2006 non-null   float64
 79  beneficiary_race_nat_ind_count    4176 non-null   float64
 80  beneficiary_race_other_count      1784 non-null   float64
 81  beneficiary_nondual_count         3455 non-null   float64
 82  beneficiary_dual_count            3455 non-null   float64
 83  beneficiary_average_risk_score    5186 non-null   float64
dtypes: float64(56), int64(3), object(25)
memory usage: 3.7+ MB

In [250]:
# npi column has 5815 non-null value
# integer(int64) is the data type of npi
# The NPI is a unique identification number for covered health care providers.
#Covered health care providers and all health plans and health care clearinghouses must use the NPIs in the administrative and financial transactions adopted under HIPAA. 
#The NPI is a 10-position

## Question 4
Take a look at the `nppes_provider_state` column. Compute the number of unique values in this column using at least two different methods.

In [251]:
len(part_d.nppes_provider_state.unique())

55

In [252]:
new = part_d['nppes_provider_state']
new.unique().shape[0]

55

## Question 5
Let's take a look at the `specialty_description` column. Use the `value_counts()` method to determine the TOP 5 specialties in the dataset as well as their frequencies.

In [253]:
part_d.specialty_description.value_counts()[:5]

Nurse Practitioner     785
Dentist                647
Internal Medicine      626
Family Practice        565
Physician Assistant    446
Name: specialty_description, dtype: int64

## Question 6
This question has four parts:
1. Define a variable `N` equal to the number of rows in the DataFrame, using the DataFrame `len` or `shape` methods.
2. Append the `cumsum()` function to the output of the `value_counts()` function on the `specialty_description` field  and divide the output by `N` to obtain the cumulative ratio to the total count. 
3. Create a boolean variable (eg a mask) which resolves to `True` if the cumulative sum is less than 75%, else `False`.
4. Use this boolean mask to filter the output of `value_counts()` to identify the columns that contribute to the first 75% of all specialities.

In [254]:
N = part_d.shape[0]
cum_freq = part_d.specialty_description.value_counts().cumsum()
cumulative_ratio = cum_freq / N
cumulative_ratio

Nurse Practitioner                                                0.134996
Dentist                                                           0.246260
Internal Medicine                                                 0.353912
Family Practice                                                   0.451075
Physician Assistant                                               0.527773
Student in an Organized Health Care Education/Training Program    0.570765
Emergency Medicine                                                0.613758
Obstetrics & Gynecology                                           0.648667
Optometry                                                         0.677558
Psychiatry                                                        0.703697
General Surgery                                                   0.724506
Ophthalmology                                                     0.744282
Cardiology                                                        0.760791
Orthopedic Surgery                                                0.775752
Podiatry                                                          0.790714
Neurology                                                         0.803439
Gastroenterology                                                  0.814101
Dermatology                                                       0.824420
Psychiatry & Neurology                                            0.834394
Pediatric Medicine                                                0.843336
Urology                                                           0.852107
Pulmonary Disease                                                 0.860533
Hematology-Oncology                                               0.868960
Otolaryngology                                                    0.876870
General Practice                                                  0.884609
Nephrology                                                        0.890628
Pharmacist                                                        0.896475
Endocrinology                                                     0.901806
Anesthesiology                                                    0.906965
Hospitalist                                                       0.912124
Physical Medicine and Rehabilitation                              0.917111
Rheumatology                                                      0.922098
Infectious Disease                                                0.926741
Radiation Oncology                                                0.930868
Oral Surgery (Dentist only)                                       0.934824
Plastic and Reconstructive Surgery                                0.938779
Allergy/ Immunology                                               0.942734
Interventional Cardiology                                         0.946002
Neurosurgery                                                      0.949269
Pain Management                                                   0.952365
Vascular Surgery                                                  0.955288
Medical Oncology                                                  0.958212
Diagnostic Radiology                                              0.961135
Certified Nurse Midwife                                           0.963887
Orthopaedic Surgery                                               0.966638
Specialist                                                        0.969218
Clinical Cardiac Electrophysiology                                0.971625
Certified Clinical Nurse Specialist                               0.974033
Neuropsychiatry                                                   0.975752
Interventional Pain Management                                    0.977472
Geriatric Medicine                                                0.979020
Critical Care (Intensivists)                                      0.980396
Plastic Surgery                                                   0.981771
Colorectal Surgery (Proctology)                                   0.982975
Hand Surgery                                                      0.984007
Sports Medicine                                                   0.985039
Thoracic Surgery                                                  0.986071
Gynecological Oncology                                            0.987102
Interventional Radiology                                          0.988134
Preventive Medicine                                               0.988994
Undefined Physician type                                          0.989854
Cardiac Surgery                                                   0.990542
Pathology                                                         0.991230
Osteopathic Manipulative Medicine                                 0.991917
General Acute Care Hospital                                       0.992605
Registered Nurse                                                  0.993293
Hospice and Palliative Care                                       0.993981
Naturopath                                                        0.994669
Maxillofacial Surgery                                             0.995185
Surgical Oncology                                                 0.995701
Oral & Maxillofacial Surgery                                      0.996217
Hematology                                                        0.996561
Psychologist, Clinical                                            0.996905
Chiropractic                                                      0.997248
Family Medicine                                                   0.997592
Legal Medicine                                                    0.997936
Certified Registered Nurse Anesthetist (CRNA)                     0.998108
Local Education Agency (LEA)                                      0.998280
Specialist/Technologist                                           0.998452
Emergency Medical Technician, Basic                               0.998624
Clinic/Center                                                     0.998796
Case Manager/Care Coordinator                                     0.998968
Independent Medical Examiner                                      0.999140
Acupuncturist                                                     0.999312
Neuromusculoskeletal Medicine, Sports Medicine                    0.999484
Addiction Medicine                                                0.999656
Counselor                                                         0.999828
Nuclear Medicine                                                  1.000000
Name: specialty_description, dtype: float64

In [255]:
mask = cumulative_ratio >= 0.75 
mask[mask==True]

Cardiology                                        True
Orthopedic Surgery                                True
Podiatry                                          True
Neurology                                         True
Gastroenterology                                  True
Dermatology                                       True
Psychiatry & Neurology                            True
Pediatric Medicine                                True
Urology                                           True
Pulmonary Disease                                 True
Hematology-Oncology                               True
Otolaryngology                                    True
General Practice                                  True
Nephrology                                        True
Pharmacist                                        True
Endocrinology                                     True
Anesthesiology                                    True
Hospitalist                                       True
Physical Medicine and Rehabilitation              True
Rheumatology                                      True
Infectious Disease                                True
Radiation Oncology                                True
Oral Surgery (Dentist only)                       True
Plastic and Reconstructive Surgery                True
Allergy/ Immunology                               True
Interventional Cardiology                         True
Neurosurgery                                      True
Pain Management                                   True
Vascular Surgery                                  True
Medical Oncology                                  True
Diagnostic Radiology                              True
Certified Nurse Midwife                           True
Orthopaedic Surgery                               True
Specialist                                        True
Clinical Cardiac Electrophysiology                True
Certified Clinical Nurse Specialist               True
Neuropsychiatry                                   True
Interventional Pain Management                    True
Geriatric Medicine                                True
Critical Care (Intensivists)                      True
Plastic Surgery                                   True
Colorectal Surgery (Proctology)                   True
Hand Surgery                                      True
Sports Medicine                                   True
Thoracic Surgery                                  True
Gynecological Oncology                            True
Interventional Radiology                          True
Preventive Medicine                               True
Undefined Physician type                          True
Cardiac Surgery                                   True
Pathology                                         True
Osteopathic Manipulative Medicine                 True
General Acute Care Hospital                       True
Registered Nurse                                  True
Hospice and Palliative Care                       True
Naturopath                                        True
Maxillofacial Surgery                             True
Surgical Oncology                                 True
Oral & Maxillofacial Surgery                      True
Hematology                                        True
Psychologist, Clinical                            True
Chiropractic                                      True
Family Medicine                                   True
Legal Medicine                                    True
Certified Registered Nurse Anesthetist (CRNA)     True
Local Education Agency (LEA)                      True
Specialist/Technologist                           True
Emergency Medical Technician, Basic               True
Clinic/Center                                     True
Case Manager/Care Coordinator                     True
Independent Medical Examiner                      True
Acupuncturist                                     True
Neuromusculoskeletal Medicine, Sports Medicine    True
Addiction Medicine                                True
Counselor                                         True
Nuclear Medicine                                  True
Name: specialty_description, dtype: bool

## Question 7:
Take a look at these two columns: `total_claim_count` and `opioid_claim_count`. Define a new column that stores the ratio of the two, eg:
```python
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
```
Let us define **high opioid providers** as those who have an `opioid_claim_rate` that is greater than or equal to 50%. This question has three parts:
1. Run the describe method on the `opioid_claim_rate` column and note the statistics.
2. Use TWO different methods to calculate how many **high opioid providers** there are in the dataset. (Hint: you can use the sum of a boolean variable for one method and the size of a filtered dataset for the other method).
3. Use TWO different methods to identify the top 3 states that have the highest number of **high opioid providers**. (Hint: you can use value_counts for one method and groupby for the other method).

In [256]:
# question 1 method 1 
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
part_d['opioid_claim_rate']

opioid_claim_rate = part_d['opioid_claim_count']/part_d['total_claim_count']

# question 2 method 1 
mask = opioid_claim_rate >= 0.5
len(mask[mask == True] )

209

In [257]:
# question 2 method 2 
print(sum(opioid_claim_rate >= 0.5))

209

In [269]:
# question 3 method 1
mask = part_d['providers_TF']
print(part_d.groupby('nppes_provider_state')['providers_TF'].sum().nlargest(3))
# question 3 method 2
part_d_high_opioid_providers = part_d[mask == True]
part_d_high_opioid_providers['nppes_provider_state'].value_counts().head(3)

nppes_provider_state
CA    19
FL    15
MI    12
Name: providers_TF, dtype: int64

CA    19
FL    15
NY    12
Name: nppes_provider_state, dtype: int64

## Question 8:
Using the `opioid_claim_rate` column computed in the previous question:

1. Create a new DataFrame `g` that aggregates the `nppes_provider_gender` column using the `groupby` method and the `size` function to output the gender breakdown in the dataset. You can use this code to answer this question:
```python
g = part_d.groupby('nppes_provider_gender').size().reset_index()
```
2. Use the `rename` method to rename the columns of DataFrame `g` to *gender* and *count*.
3. Now compute the aggregation of the dataset by gender but filtered to the **high opioid providers**. Name the DataFrame `g2`. Rename the columns to *gender* and *high_opioid_count*.
4. Join the DataFrames g and g2 using the gender column as the key. The final result should look like this:
```
gender	count	high_opioid_count
	F	2458	62
	M	3357	147
```
5. Compute the ratio of `high_opioid_count` to `count` for each row and note the difference

In [270]:
g = part_d.groupby('nppes_provider_gender').size().reset_index()
# question 2
g.rename(columns={"nppes_provider_gender": "gender", 0: "count"}, inplace=True)
print(g)

  gender  count
0      F   2458
1      M   3357

In [271]:
# question 3
g2 = part_d[mask == True].groupby('nppes_provider_gender').size().reset_index()
g2 = g2.rename(columns= {'nppes_provider_gender':'gender', 0:'high_opioid_count'})
print(g2)

# question 4: join g and g2
g3 = g.join(g2['high_opioid_count'],how='right',lsuffix='_left',rsuffix='_right')

# question 5
g3['ratio'] = g3['high_opioid_count'] / g3['count']
g3['difference'] = g3['count'] - g3['high_opioid_count']
g3

  gender  high_opioid_count
0      F                 62
1      M                147

  gender  count  high_opioid_count     ratio  difference
0      F   2458                 62  0.025224        2396
1      M   3357                147  0.043789        3210

## Question 9:
The Office of Inspector General ([OIG](https://oig.hhs.gov/)) has the authority to **exclude** individuals and entities from Federally funded health care programs. To be excluded is quite serious, as you can see from their website:

>The OIG maintains a list of all currently excluded individuals and entities called the List of Excluded Individuals/Entities (LEIE). Anyone who hires an individual or entity on the LEIE may be subject to civil monetary penalties (CMP). To avoid CMP liability, health care entities should routinely check the list to ensure that new hires and current employees are not on it.

This list is publicaly available, [here](https://oig.hhs.gov/exclusions/exclusions_list.asp). I have downloaded this file in its entirety (in December 2020) and have stripped it down to the columns we need.

Load the provided file into a DataFrame, named `exclusions`:

```python
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
```
This question has a number of parts:

1. Print the number of rows and columns in the exclusions dataset.
2. Display the first 6 rows the DataFrame. 
3. Display 3 random rows of the DataFrame using the `sample` method.
4. Use the `nunique` method to determine the number of unique NPIs. Compare this to the size of the dataset - what do you observe?
5. Are there any NULL `NPI` values?
6. What is the most frequent `NPI` value?
7. Apply the `unique` method to the NPI column and convert the outcome to a list of NPIs (hint use the `tolist` method). Store the output in a variable called `npis`. What is the length of `npis`?
8. Apply the `isin` method to `part_d` to tag the rows whose NPI is in the list of excluded NPIs. You can use the following code. How many records are there in `excluded1`?
```python
excluded1 = part_d[part_d['npi'].isin(npis)]
```

In [272]:
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
#Q1
print(exclusions.shape)
#Q2 
print(exclusions.head(6))
#Q3
print(exclusions.sample(3))
#Q4
print(exclusions.nunique()) # 5200 unique value, much smaller than sample size, many people has the same NPI like '0'.
#Q5
sum(exclusions.NPI.isnull())# No NULL Values
#Q6
print(exclusions.NPI.value_counts().idxmax())# '0'is the most frequent NPI value.
#Q7
npis = exclusions.NPI.unique().tolist()
len(npis) #5200

(69858, 4)
   LASTNAME    FIRSTNAME STATE  NPI
0   AALDERS        NANCY    IL    0
1  AALTONEN     NICKOLAS    WA    0
2     AAMIR     MUHAMMAD    MI    0
3     AARON        ALINA    AZ    0
4     AARON  CHRISTOPHER    PA    0
5     AARON      DEBORAH    TX    0
       LASTNAME FIRSTNAME STATE  NPI
3858   BARNWELL    ALICEA    NC    0
20925   FREEMAN     PETER    NY    0
11944   CLOPTON     TOMMY    TX    0
LASTNAME     28591
FIRSTNAME    11443
STATE           60
NPI           5200
dtype: int64
0

5200

In [273]:
#Q8
excluded1 = part_d[part_d['npi'].isin(npis)]
excluded1
len(excluded1)# 2

2

## Question 10
In question 9 we searched for records in the part_d DataFrame whose NPI was in the exclusions dataset. Matching across the NPI yielded only 2 excluded providers. This seems suspicious. The problem is probably due to the fact that so many of the NPIs in the excluded dataset are marked as `0`. Perhaps we can do better by matching across first and last names. Let's do that in these steps.
1. As a sanity check, let's first do a merge between the two datasets on NPI. Your results should confirm the result obtained in question 9. For convenience, define this list of columns:
```python
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]
```
Perform the merge and display the output for the columns in `cols`. You can use the following code to answer this question:
```python
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
         left_on = ['npi'],
         right_on = ['NPI']
        )
excluded2[cols]
```
Your results should match the results from Question 9.


2. Since we are going to match across names, let's first convert the applicable columns to upper case and strip out any leading or trailing spaces. You can use the following code to answer this question but you'll need to apply it to the remaining first and last name columns, eg 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'FIRSTNAME' and 'LASTNAME'
```python
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
```

3. Run another inner join across both datasets using first and last names. My result had 461 rows. Please take a look at the dataset filtering on the columns in `cols` as done above. What do you notice? 


4. In order to conduct a better quality match, include the state in your join keys. You should now be matching on first name, last name and state. My result had 22 records. I feel more confident in this match since the names and state lines up. You'll notice that some of the providers have 0 `opioid_claim_rate`. This is not that surprising as there are many different kinds of behaviors that a provider can engage in in order to get on the exclusisons list.

In [274]:
#Q1

cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]

excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['npi'],
      right_on = ['NPI']
     )
excluded2

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,providers_TF,LASTNAME,FIRSTNAME,STATE,NPI
0,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,NaN,214.0,138.0,1.3818,0.089926,False,FRANCIS,DESMOND,NY,1659506111
1,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,NaN,168.0,295.0,1.6193,0.119433,False,YANG,HARRISON,TN,1770505612

In [275]:
#Q2
part_d
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
part_d['nppes_provider_last_org_name'] = part_d['nppes_provider_last_org_name'].str.upper().str.strip()

In [276]:
#Q3
excluded3 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name'],
      right_on = ['FIRSTNAME', 'LASTNAME']
     )
excluded3

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,providers_TF,LASTNAME,FIRSTNAME,STATE,NPI
0,1003153628,COLEMAN,RICHARD,NaN,FNP-BC,M,I,128 N. FM 3167,NaN,RIO GRANDE CITY,...,0.0,81.0,171.0,1.7090,0.047162,False,COLEMAN,RICHARD,CA,0
1,1003290974,JONES,MARILYN,A,NP,F,I,8778 MADISON AVE,SUITE 200,INDIANAPOLIS,...,NaN,140.0,48.0,1.1498,0.017435,False,JONES,MARILYN,AR,0
2,1003811837,ROBINSON,MARK,K,O.D.,M,I,123 MILL ST,NaN,LOCKLAND,...,NaN,NaN,NaN,1.1873,0.000000,False,ROBINSON,MARK,NH,1427112325
3,1346286507,ROBINSON,MARK,I,MD,M,I,400 N PEPPER AVE,NaN,COLTON,...,NaN,NaN,NaN,NaN,0.000000,False,ROBINSON,MARK,NH,1427112325
4,1003868787,NELSON,DOUGLAS,D,MD,M,I,8735 S MERRION LN,NaN,HOMETOWN,...,NaN,78.0,23.0,0.9854,0.196429,False,NELSON,DOUGLAS,IA,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1982648333,MILLER,TIMOTHY,C,MD,M,I,301 S PRICE ST,STE 1,KINGWOOD,...,0.0,NaN,NaN,1.2108,NaN,False,MILLER,TIMOTHY,UT,0
431,1982668497,JIMERSON,ANDREW,NaN,M.D.,M,I,6620 MCGINNIS FERRY RD,NaN,DULUTH,...,0.0,NaN,NaN,0.8929,0.175676,False,JIMERSON,ANDREW,OH,1427056076
432,1992142632,MARSHALL,JESSICA,NaN,D.O.,F,I,405 W GRAND AVE,NaN,DAYTON,...,0.0,71.0,42.0,1.5571,0.083333,False,MARSHALL,JESSICA,FL,0
433,1992786305,FOX,JOHN,NaN,M.D.,M,I,403 WOODLAND HILLS BLVD,NaN,FORT SCOTT,...,12.0,680.0,278.0,1.3502,0.048907,False,FOX,JOHN,AL,0
434,1992905616,LEE,SHARON,J,DDS,F,I,1771 W ROMNEYA DR STE F,NaN,ANAHEIM,...,NaN,NaN,NaN,NaN,NaN,False,LEE,SHARON,TX,0

In [277]:
excluded4 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name','nppes_provider_state'],
      right_on = ['FIRSTNAME', 'LASTNAME','STATE']
     )
excluded4 #22 RECORDS

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,providers_TF,LASTNAME,FIRSTNAME,STATE,NPI
0,1013070861,HARRIS,CHARLES,A,D.D.S,M,I,1108 1ST ST,NaN,LA MARQUE,...,0.0,12.0,0.0,2.1663,0.000000,False,HARRIS,CHARLES,TX,0
1,1053349506,TORRES,JOSE,NaN,MD,M,I,2211 NE 36TH ST. SUITE 101,NaN,LIGHTHOUSE POINT,...,NaN,178.0,161.0,1.5725,0.040196,False,TORRES,JOSE,FL,0
2,1144278052,TAYLOR,ROBERT,W,MD,M,I,10333 EL CAMINO REAL,NaN,ATASCADERO,...,NaN,NaN,NaN,NaN,0.000000,False,TAYLOR,ROBERT,CA,0
3,1144382672,SMITH,MARY,T,FNP,F,I,1818 COLLEGE DRIVE,NaN,MERIDIAN,...,NaN,NaN,NaN,NaN,0.000000,False,SMITH,MARY,MS,0
4,1184608903,LEE,ROBERT,D,MD,M,I,311 W LINCOLN ST,SUITE 200,BELLEVILLE,...,NaN,101.0,69.0,3.4946,0.172285,False,LEE,ROBERT,IL,0
5,1205807864,ROTH,ROBERT,J,MD,M,I,2557 MOWRY AVE,STE 34,FREMONT,...,NaN,33.0,19.0,1.5279,NaN,False,ROTH,ROBERT,CA,1700869864
6,1205839776,MARTINEZ,MARTHA,NaN,"M.D., F.A.C.O.G.",F,I,1076 E LOS EBANOS BLVD,NaN,BROWNSVILLE,...,0.0,45.0,55.0,1.1785,NaN,False,MARTINEZ,MARTHA,TX,0
7,1275501629,JONES,ROBERT,C,MD,M,I,1866 N ORANGE GROVE AVE,SUITE 102,POMONA,...,0.0,NaN,NaN,1.5204,0.034858,False,JONES,ROBERT,CA,0
8,1346213907,LEE,STEPHEN,Y,M.D.,M,I,100 PRESIDENTIAL BLVD,SUITE 200,BALA CYNWYD,...,28.0,590.0,198.0,1.1935,0.000000,False,LEE,STEPHEN,PA,0
9,1346223179,SMITH,RICHARD,C,MD,M,I,27401 WEST HIGHWAY 22,SUITE 111,BARRINGTON,...,NaN,NaN,NaN,NaN,0.000000,False,SMITH,RICHARD,IL,0
10,1356315410,NGUYEN,DUC,C,MD,M,I,473 W EATON AVE,NaN,TRACY,...,0.0,23.0,22.0,1.5332,0.727273,True,NGUYEN,DUC,CA,0
11,1356408017,GONZALES,ROBERT,P,O.D.,M,I,1415 N BRISTOL ST,NaN,SANTA ANA,...,0.0,NaN,NaN,1.2577,0.000000,False,GONZALES,ROBERT,CA,0
12,1427333186,MARTIN,REBECCA,L,PA,F,I,409 W ADAMS AVE,NaN,TEMPLE,...,NaN,45.0,14.0,1.1927,0.000000,False,MARTIN,REBECCA,TX,0
13,1518012954,WILLIAMS,DAVID,NaN,NaN,M,I,1200 N STATE ST,NaN,LOS ANGELES,...,NaN,123.0,39.0,1.4034,0.281746,False,WILLIAMS,DAVID,CA,0
14,1528326428,LANE,WILLIAM,M,"MD, DMD",M,I,1 BOSTON MEDICAL CTR PL,NaN,BOSTON,...,NaN,NaN,NaN,1.1201,0.261905,False,LANE,WILLIAM,MA,0
15,1538442017,ORTIZ,JENNIFER,M,DDS,F,I,107 W 4TH ST,NaN,MOUNT VERNON,...,NaN,NaN,NaN,0.9508,0.000000,False,ORTIZ,JENNIFER,NY,0
16,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,NaN,214.0,138.0,1.3818,0.089926,False,FRANCIS,DESMOND,NY,1659506111
17,1700185345,KATZ,ALAN,NaN,D.D.S.,M,I,80 PARK PL,NaN,EAST HAMPTON,...,NaN,28.0,0.0,0.9892,0.000000,False,KATZ,ALAN,NY,0
18,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,NaN,168.0,295.0,1.6193,0.119433,False,YANG,HARRISON,TN,1770505612
19,1871955906,LOPEZ,CARMEN,L,ARNP,F,I,3100 SW 62ND AVE,NaN,MIAMI,...,NaN,NaN,NaN,NaN,0.000000,False,LOPEZ,CARMEN,FL,0
20,1942309596,RODRIGUEZ,MARGARITA,NaN,DMD,F,I,4801 S CONGRESS AVE,SUITE #202,LAKE WORTH,...,NaN,59.0,73.0,1.3057,NaN,False,RODRIGUEZ,MARGARITA,FL,0
21,1942592324,SMITH,JENNIFER,N,PA-C,F,I,5623 US 221 S,NaN,MARION,...,0.0,137.0,110.0,1.1886,0.036195,False,SMITH,JENNIFER,NC,0