# Homework 2

The goal of this Homework is to write Python code to answer each of the questions below. You should be able to answer these questions using Pandas only. You should not need to import any other packages. You should not use Excel or any other means to answer these questions. **Since questions have subquestions, it would be helpful if you use comments to clearly indicate which question you are answering**.

## Introduction
The Centers for Medicare & Medicaid Services ([CMS](cms.gov)) is a federal agency within the United States Department of Health and Human Services (HHS) that administers the **Medicare program** and works in partnership with state governments to administer Medicaid, the Children's Health Insurance Program (CHIP), and health insurance portability standards.
 - **Medicare** is a national health insurance program that provides health insurance for Americans aged 65 and over

The **Medicare Part D** program, also called the Medicare prescription drug benefit, is an optional United States federal-government program to help Medicare beneficiaries pay for self-administered prescription drugs through prescription drug insurance premiums.

CMS maintains a lot of [public info](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Part-D-Prescriber) on prescription drugs that are prescribed by individual physicians and other health care **providers** and paid for under the **Medicare Part D** Prescription Drug Program.

I downloaded the **2017 Provider Summary table** and sampled it down from 1.1 million records (360 MB) to roughly 6000 records (2MB). If you would like to check out the original dataset, you can download it from this site https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/PartD2017   

But for this assignment, you need to use the provided downsampled dataset `part_d_drug_prescriptions_sample2.csv`. If you would like, the data dictionary is available [here](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Prescriber_Methods.pdf). The applicable section is Table 2 in the Appendix.

In [21]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', 200)

## Question 1

Use Pandas to import **part_d_drug_prescriptions_sample2.csv** into a DataFrame, named `part_d`. How many rows and colums does the dataset have?

In [40]:
part_d = pd.read_csv('/Users/user/Documents/Python Work/part_d_drug_prescriptions_sample2.csv')
part_d

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,35.0,NaN,NaN,0.0,NaN,0.0,0.0,49.0,33.0,2.5022
2,1003020041,BAXTER,MARGARET,NaN,M.D.,F,I,1100 LONG POND RD,SUITE 250,ROCHESTER,...,221.0,544.0,NaN,NaN,17.0,0.0,26.0,515.0,95.0,1.0164
3,1003031212,KAYALI,FADI,NaN,M.D.,M,I,600 N CATTLEMEN RD,SUITE 200,SARASOTA,...,140.0,249.0,NaN,NaN,NaN,0.0,NaN,229.0,45.0,2.4311
4,1003043175,BENSON,REBECCA,L,D.D.S.,F,I,6601 LYNDALE AVE S,NaN,RICHFIELD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,20.0,0.0,1.0910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5810,1992949150,WANG,AMY,M,MD,F,I,3130 N COUNTY ROAD 25A,NaN,TROY,...,73.0,168.0,24.0,NaN,NaN,0.0,NaN,146.0,58.0,2.0090
5811,1992961429,PARKER,MELINDA,S,PA-C,F,I,3209 S 23RD ST,STE 340,TACOMA,...,59.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.9592
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,11.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,84.0,NaN,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090
5814,1992994446,PATETE,MICHAEL,L,"MD, FACS",M,I,213 PALERMO PL,NaN,VENICE,...,472.0,951.0,NaN,NaN,NaN,NaN,19.0,948.0,35.0,1.2319

In [39]:
#rows 
len(part_d)

5815

In [38]:
#column
len(part_d.columns)

84

## Question 2
This question has two parts:
1. Display the first 6 rows of `part_d`.
2. Display the last 6 rows of `part_d`.

In [41]:
part_d.head(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003012022,CUDZILO,COREY,NaN,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,35.0,NaN,NaN,0.0,NaN,0.0,0.0,49.0,33.0,2.5022
2,1003020041,BAXTER,MARGARET,NaN,M.D.,F,I,1100 LONG POND RD,SUITE 250,ROCHESTER,...,221.0,544.0,NaN,NaN,17.0,0.0,26.0,515.0,95.0,1.0164
3,1003031212,KAYALI,FADI,NaN,M.D.,M,I,600 N CATTLEMEN RD,SUITE 200,SARASOTA,...,140.0,249.0,NaN,NaN,NaN,0.0,NaN,229.0,45.0,2.4311
4,1003043175,BENSON,REBECCA,L,D.D.S.,F,I,6601 LYNDALE AVE S,NaN,RICHFIELD,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,20.0,0.0,1.0910
5,1003054206,SEILER,WARREN,B,MD,M,I,2700 ROGERS DR,SUITE 101,HOMEWOOD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
part_d.tail(6)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
5809,1992936330,MANLEY,CHRISTOPHER,J,MD,M,I,333 COTTMAN AVE,NaN,PHILADELPHIA,...,25.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2.5471
5810,1992949150,WANG,AMY,M,MD,F,I,3130 N COUNTY ROAD 25A,NaN,TROY,...,73.0,168.0,24.0,NaN,NaN,0.0,NaN,146.0,58.0,2.0090
5811,1992961429,PARKER,MELINDA,S,PA-C,F,I,3209 S 23RD ST,STE 340,TACOMA,...,59.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.9592
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,11.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,84.0,NaN,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090
5814,1992994446,PATETE,MICHAEL,L,"MD, FACS",M,I,213 PALERMO PL,NaN,VENICE,...,472.0,951.0,NaN,NaN,NaN,NaN,19.0,948.0,35.0,1.2319

## Question 3
This question has 4 parts:
1. Use the `info()` function to examine the DataFrame from a high level. Take a moment to look at the number of non-null values and the datatypes of each column. 
2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [71]:
part_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5815 entries, 0 to 5814
Data columns (total 84 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               5815 non-null   int64
 1   nppes_provider_last_org_name      5815 non-null   object
 2   nppes_provider_first_name         5815 non-null   object
 3   nppes_provider_mi                 4074 non-null   object
 4   nppes_credentials                 5461 non-null   object
 5   nppes_provider_gender             5815 non-null   object
 6   nppes_entity_code                 5815 non-null   object
 7   nppes_provider_street1            5815 non-null   object
 8   nppes_provider_street2            2107 non-null   object
 9   nppes_provider_city               5815 non-null   object
 10  nppes_provider_zip5               5815 non-null   float64
 11  nppes_provider_zip4               5031 non-null   float64
 12  nppes_provider_state              5815 non-null   object
 13  nppes_provider_country            5815 non-null   object
 14  specialty_description             5815 non-null   object
 15  description_flag                  5815 non-null   object
 16  medicare_prvdr_enroll_status      5815 non-null   object
 17  total_claim_count                 5815 non-null   int64
 18  total_30_day_fill_count           5815 non-null   float64
 19  total_drug_cost                   5815 non-null   float64
 20  total_day_supply                  5815 non-null   int64
 21  bene_count                        5186 non-null   float64
 22  ge65_suppress_flag                1295 non-null   object
 23  total_claim_count_ge65            4520 non-null   float64
 24  total_30_day_fill_count_ge65      4520 non-null   float64
 25  total_drug_cost_ge65              4520 non-null   float64
 26  total_day_supply_ge65             4520 non-null   float64
 27  bene_count_ge65_suppress_flag     2595 non-null   object
 28  bene_count_ge65                   3220 non-null   float64
 29  brand_suppress_flag               2324 non-null   object
 30  brand_claim_count                 3491 non-null   float64
 31  brand_drug_cost                   3491 non-null   float64
 32  generic_suppress_flag             1573 non-null   object
 33  generic_claim_count               4242 non-null   float64
 34  generic_drug_cost                 4242 non-null   float64
 35  other_suppress_flag               1224 non-null   object
 36  other_claim_count                 4591 non-null   float64
 37  other_drug_cost                   4591 non-null   float64
 38  mapd_suppress_flag                1096 non-null   object
 39  mapd_claim_count                  4719 non-null   float64
 40  mapd_drug_cost                    4719 non-null   float64
 41  pdp_suppress_flag                 1096 non-null   object
 42  pdp_claim_count                   4719 non-null   float64
 43  pdp_drug_cost                     4719 non-null   float64
 44  lis_suppress_flag                 1191 non-null   object
 45  lis_claim_count                   4624 non-null   float64
 46  lis_drug_cost                     4624 non-null   float64
 47  nonlis_suppress_flag              1191 non-null   object
 48  nonlis_claim_count                4624 non-null   float64
 49  nonlis_drug_cost                  4624 non-null   float64
 50  opioid_claim_count                4225 non-null   float64
 51  opioid_drug_cost                  4225 non-null   float64
 52  opioid_day_supply                 4225 non-null   float64
 53  opioid_bene_count                 3954 non-null   float64
 54  opioid_prescriber_rate            4225 non-null   float64
 55  la_opioid_claim_count             5099 non-null   float64
 56  la_opioid_drug_cost               5099 non-null   float64
 57  la_opioid_day_supply              5099 non-null   float64
 58  la_opioid_bene_count              4703 non-null   float64
 59  la_opioid_prescriber_rate         3340 non-null   float64
 60  antibiotic_claim_count            4112 non-null   float64
 61  antibiotic_drug_cost              4112 non-null   float64
 62  antibiotic_bene_count             3812 non-null   float64
 63  antipsych_ge65_suppress_flag      788 non-null    object
 64  antipsych_claim_count_ge65        5027 non-null   float64
 65  antipsych_drug_cost_ge65          5027 non-null   float64
 66  antipsych_bene_ge65_suppress_flg  1254 non-null   object
 67  antipsych_bene_count_ge65         4561 non-null   float64
 68  average_age_of_beneficiaries      5186 non-null   float64
 69  beneficiary_age_less_65_count     3220 non-null   float64
 70  beneficiary_age_65_74_count       2675 non-null   float64
 71  beneficiary_age_75_84_count       1815 non-null   float64
 72  beneficiary_age_greater_84_count  1935 non-null   float64
 73  beneficiary_female_count          4157 non-null   float64
 74  beneficiary_male_count            4157 non-null   float64
 75  beneficiary_race_white_count      2848 non-null   float64
 76  beneficiary_race_black_count      2004 non-null   float64
 77  beneficiary_race_asian_pi_count   2585 non-null   float64
 78  beneficiary_race_hispanic_count   2006 non-null   float64
 79  beneficiary_race_nat_ind_count    4176 non-null   float64
 80  beneficiary_race_other_count      1784 non-null   float64
 81  beneficiary_nondual_count         3455 non-null   float64
 82  beneficiary_dual_count            3455 non-null   float64
 83  beneficiary_average_risk_score    5186 non-null   float64
dtypes: float64(56), int64(3), object(25)
memory usage: 3.7+ MB

In [ ]:
# npi column have 5815 non-null values

In [ ]:
# The data type of npi column is int64

In [ ]:
# A National Provider Identifier (NPI) is a unique 10-digit identification number issued to health care providers 
# in the United States by the Centers for Medicare and Medicaid Services

## Question 4
Take a look at the `nppes_provider_state` column. Compute the number of unique values in this column using at least two different methods.

In [74]:
part_d['nppes_provider_state']

0       MD
1       TN
2       NY
3       FL
4       MN
        ..
5810    OH
5811    WA
5812    MN
5813    MS
5814    FL
Name: nppes_provider_state, Length: 5815, dtype: object

In [77]:
# method 1
output = []
for x in part_d['nppes_provider_state']:
    if x not in output:
        output.append(x)
print(output)
len(output)

['MD', 'TN', 'NY', 'FL', 'MN', 'AL', 'TX', 'AZ', 'LA', 'PA', 'NC', 'CA', 'MO', 'IN', 'MA', 'OK', 'VA', 'OH', 'CT', 'GA', 'IL', 'NV', 'MI', 'NJ', 'CO', 'SC', 'NH', 'ME', 'WA', 'MS', 'RI', 'KY', 'KS', 'OR', 'WI', 'UT', 'ND', 'AR', 'PR', 'WV', 'DE', 'ID', 'AK', 'NE', 'HI', 'WY', 'SD', 'IA', 'VT', 'NM', 'MT', 'DC', 'AP', 'GU', 'ZZ']

55

In [78]:
mylist = part_d['nppes_provider_state']
myset = set(mylist)
print(myset)
len(myset)

{'TN', 'VT', 'MN', 'NJ', 'ME', 'CO', 'CA', 'MD', 'IN', 'NE', 'NV', 'AK', 'OR', 'LA', 'FL', 'KY', 'PR', 'VA', 'MA', 'KS', 'SD', 'DC', 'PA', 'NH', 'OH', 'RI', 'SC', 'GA', 'AZ', 'UT', 'ID', 'OK', 'IL', 'AP', 'IA', 'GU', 'WV', 'CT', 'WY', 'MO', 'MI', 'WA', 'HI', 'WI', 'MT', 'MS', 'AR', 'TX', 'NY', 'NM', 'AL', 'DE', 'ZZ', 'NC', 'ND'}

55

## Question 5
Let's take a look at the `specialty_description` column. Use the `value_counts()` method to determine the TOP 5 specialties in the dataset as well as their frequencies.

In [79]:
part_d['specialty_description']

0                        Internal Medicine
1                        Pulmonary Disease
2                          Family Practice
3                      Hematology-Oncology
4                                  Dentist
                       ...
5810                     Internal Medicine
5811                   Physician Assistant
5812                       General Surgery
5813    Clinical Cardiac Electrophysiology
5814                        Otolaryngology
Name: specialty_description, Length: 5815, dtype: object

In [86]:
part_d['specialty_description'].value_counts().nlargest(5)

Nurse Practitioner     785
Dentist                647
Internal Medicine      626
Family Practice        565
Physician Assistant    446
Name: specialty_description, dtype: int64

## Question 6
This question has four parts:
1. Define a variable `N` equal to the number of rows in the DataFrame, using the DataFrame `len` or `shape` methods.
2. Append the `cumsum()` function to the output of the `value_counts()` function on the `specialty_description` field  and divide the output by `N` to obtain the cumulative ratio to the total count. 
3. Create a boolean variable (eg a mask) which resolves to `True` if the cumulative sum is less than 75%, else `False`.
4. Use this boolean mask to filter the output of `value_counts()` to identify the records that contribute to the first 75% of all specialities.

In [97]:
N = len(part_d)
N

5815

In [118]:
subset = part_d['specialty_description'].value_counts().cumsum()
subset

subset1 = pd.DataFrame(part_d['specialty_description'].value_counts().cumsum())
subset1
subset1['cumulative ratio'] = subset10['specialty_description']/N
subset1

,specialty_description,cumulative ratio
Nurse Practitioner,785,0.134996
Dentist,1432,0.246260
Internal Medicine,2058,0.353912
Family Practice,2623,0.451075
Physician Assistant,3069,0.527773
Student in an Organized Health Care Education/Training Program,3319,0.570765
Emergency Medicine,3569,0.613758
Obstetrics & Gynecology,3772,0.648667
Optometry,3940,0.677558
Psychiatry,4092,0.703697
General Surgery,4213,0.724506
Ophthalmology,4328,0.744282
Cardiology,4424,0.760791
Orthopedic Surgery,4511,0.775752
Podiatry,4598,0.790714
Neurology,4672,0.803439
Gastroenterology,4734,0.814101
Dermatology,4794,0.824420
Psychiatry & Neurology,4852,0.834394
Pediatric Medicine,4904,0.843336
Urology,4955,0.852107
Pulmonary Disease,5004,0.860533
Hematology-Oncology,5053,0.868960
Otolaryngology,5099,0.876870
General Practice,5144,0.884609
Nephrology,5179,0.890628
Pharmacist,5213,0.896475
Endocrinology,5244,0.901806
Hospitalist,5274,0.906965
Anesthesiology,5304,0.912124
Physical Medicine and Rehabilitation,5333,0.917111
Rheumatology,5362,0.922098
Infectious Disease,5389,0.926741
Radiation Oncology,5413,0.930868
Oral Surgery (Dentist only),5436,0.934824
Plastic and Reconstructive Surgery,5459,0.938779
Allergy/ Immunology,5482,0.942734
Interventional Cardiology,5501,0.946002
Neurosurgery,5520,0.949269
Pain Management,5538,0.952365
Vascular Surgery,5555,0.955288
Diagnostic Radiology,5572,0.958212
Medical Oncology,5589,0.961135
Orthopaedic Surgery,5605,0.963887
Certified Nurse Midwife,5621,0.966638
Specialist,5636,0.969218
Clinical Cardiac Electrophysiology,5650,0.971625
Certified Clinical Nurse Specialist,5664,0.974033
Neuropsychiatry,5674,0.975752
Interventional Pain Management,5684,0.977472
Geriatric Medicine,5693,0.979020
Critical Care (Intensivists),5701,0.980396
Plastic Surgery,5709,0.981771
Colorectal Surgery (Proctology),5716,0.982975
Gynecological Oncology,5722,0.984007
Interventional Radiology,5728,0.985039
Sports Medicine,5734,0.986071
Hand Surgery,5740,0.987102
Thoracic Surgery,5746,0.988134
Preventive Medicine,5751,0.988994
Undefined Physician type,5756,0.989854
Pathology,5760,0.990542
Hospice and Palliative Care,5764,0.991230
Cardiac Surgery,5768,0.991917
Osteopathic Manipulative Medicine,5772,0.992605
General Acute Care Hospital,5776,0.993293
Registered Nurse,5780,0.993981
Naturopath,5784,0.994669
Maxillofacial Surgery,5787,0.995185
Oral & Maxillofacial Surgery,5790,0.995701
Surgical Oncology,5793,0.996217
Legal Medicine,5795,0.996561
"Psychologist, Clinical",5797,0.996905
Chiropractic,5799,0.997248
Hematology,5801,0.997592
Family Medicine,5803,0.997936
"Emergency Medical Technician, Basic",5804,0.998108
Counselor,5805,0.998280
Independent Medical Examiner,5806,0.998452
Nuclear Medicine,5807,0.998624
"Neuromusculoskeletal Medicine, Sports Medicine",5808,0.998796
Clinic/Center,5809,0.998968
Addiction Medicine,5810,0.999140
Certified Registered Nurse Anesthetist (CRNA),5811,0.999312
Acupuncturist,5812,0.999484
Case Manager/Care Coordinator,5813,0.999656
Specialist/Technologist,5814,0.999828
Local Education Agency (LEA),5815,1.000000

In [110]:
subset1 = subset/N
subset1d

Nurse Practitioner                                                0.134996
Dentist                                                           0.246260
Internal Medicine                                                 0.353912
Family Practice                                                   0.451075
Physician Assistant                                               0.527773
Student in an Organized Health Care Education/Training Program    0.570765
Emergency Medicine                                                0.613758
Obstetrics & Gynecology                                           0.648667
Optometry                                                         0.677558
Psychiatry                                                        0.703697
General Surgery                                                   0.724506
Ophthalmology                                                     0.744282
Cardiology                                                        0.760791
Orthopedic Surgery                                                0.775752
Podiatry                                                          0.790714
Neurology                                                         0.803439
Gastroenterology                                                  0.814101
Dermatology                                                       0.824420
Psychiatry & Neurology                                            0.834394
Pediatric Medicine                                                0.843336
Urology                                                           0.852107
Pulmonary Disease                                                 0.860533
Hematology-Oncology                                               0.868960
Otolaryngology                                                    0.876870
General Practice                                                  0.884609
Nephrology                                                        0.890628
Pharmacist                                                        0.896475
Endocrinology                                                     0.901806
Hospitalist                                                       0.906965
Anesthesiology                                                    0.912124
Physical Medicine and Rehabilitation                              0.917111
Rheumatology                                                      0.922098
Infectious Disease                                                0.926741
Radiation Oncology                                                0.930868
Oral Surgery (Dentist only)                                       0.934824
Plastic and Reconstructive Surgery                                0.938779
Allergy/ Immunology                                               0.942734
Interventional Cardiology                                         0.946002
Neurosurgery                                                      0.949269
Pain Management                                                   0.952365
Vascular Surgery                                                  0.955288
Diagnostic Radiology                                              0.958212
Medical Oncology                                                  0.961135
Orthopaedic Surgery                                               0.963887
Certified Nurse Midwife                                           0.966638
Specialist                                                        0.969218
Clinical Cardiac Electrophysiology                                0.971625
Certified Clinical Nurse Specialist                               0.974033
Neuropsychiatry                                                   0.975752
Interventional Pain Management                                    0.977472
Geriatric Medicine                                                0.979020
Critical Care (Intensivists)                                      0.980396
Plastic Surgery                                                   0.981771
Colorectal Surgery (Proctology)                                   0.982975
Gynecological Oncology                                            0.984007
Interventional Radiology                                          0.985039
Sports Medicine                                                   0.986071
Hand Surgery                                                      0.987102
Thoracic Surgery                                                  0.988134
Preventive Medicine                                               0.988994
Undefined Physician type                                          0.989854
Pathology                                                         0.990542
Hospice and Palliative Care                                       0.991230
Cardiac Surgery                                                   0.991917
Osteopathic Manipulative Medicine                                 0.992605
General Acute Care Hospital                                       0.993293
Registered Nurse                                                  0.993981
Naturopath                                                        0.994669
Maxillofacial Surgery                                             0.995185
Oral & Maxillofacial Surgery                                      0.995701
Surgical Oncology                                                 0.996217
Legal Medicine                                                    0.996561
Psychologist, Clinical                                            0.996905
Chiropractic                                                      0.997248
Hematology                                                        0.997592
Family Medicine                                                   0.997936
Emergency Medical Technician, Basic                               0.998108
Counselor                                                         0.998280
Independent Medical Examiner                                      0.998452
Nuclear Medicine                                                  0.998624
Neuromusculoskeletal Medicine, Sports Medicine                    0.998796
Clinic/Center                                                     0.998968
Addiction Medicine                                                0.999140
Certified Registered Nurse Anesthetist (CRNA)                     0.999312
Acupuncturist                                                     0.999484
Case Manager/Care Coordinator                                     0.999656
Specialist/Technologist                                           0.999828
Local Education Agency (LEA)                                      1.000000
Name: specialty_description, dtype: float64

In [120]:
mask = subset1['cumulative ratio'] < 0.75
subset1[mask]

,specialty_description,cumulative ratio
Nurse Practitioner,785,0.134996
Dentist,1432,0.246260
Internal Medicine,2058,0.353912
Family Practice,2623,0.451075
Physician Assistant,3069,0.527773
Student in an Organized Health Care Education/Training Program,3319,0.570765
Emergency Medicine,3569,0.613758
Obstetrics & Gynecology,3772,0.648667
Optometry,3940,0.677558
Psychiatry,4092,0.703697
General Surgery,4213,0.724506
Ophthalmology,4328,0.744282

## Question 7:
Take a look at these two columns: `total_claim_count` and `opioid_claim_count`. Define a new column that stores the ratio of the two, eg:
```python
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
```
Let us define **high opioid providers** as those who have an `opioid_claim_rate` that is greater than or equal to 50%. This question has three parts:
1. Run the describe method on the `opioid_claim_rate` column and note the statistics.
2. Use TWO different methods to calculate how many **high opioid providers** there are in the dataset. (Hint: you can use the sum of a boolean variable for one method and the size of a filtered dataset for the other method).
3. Use TWO different methods to identify the top 3 states that have the highest number of **high opioid providers**. (Hint: you can use value_counts for one method and groupby for the other method).

In [122]:
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
part_d['opioid_claim_rate']
# The total number of row is 5814 but part of them are NAs.

0       0.036928
1            NaN
2       0.057234
3       0.107958
4            NaN
          ...
5810    0.033501
5811    0.000000
5812         NaN
5813         NaN
5814    0.024896
Name: opioid_claim_rate, Length: 5815, dtype: float64

In [139]:
# method 1
len(part_d[part_d['opioid_claim_rate'] >= 0.5])

209

In [155]:
# method 2
subset2 = pd.DataFrame(part_d.loc[(part_d.opioid_claim_rate >= 0.5)].copy())
len(subset2)

209

In [246]:
#method 1
subset3 = part_d[part_d['opioid_claim_rate'] >= 0.5].value_counts
subset3('nppes_provider_state','opioid_claim_rate')

# CA FL NY

nppes_provider_state
CA    0.090909
FL    0.071770
NY    0.057416
MI    0.057416
PA    0.047847
CO    0.047847
IL    0.043062
NC    0.043062
OH    0.043062
WA    0.038278
TX    0.038278
TN    0.028708
NJ    0.028708
MD    0.023923
MN    0.023923
OK    0.019139
OR    0.019139
MS    0.019139
CT    0.019139
MA    0.019139
GA    0.019139
IN    0.019139
SC    0.014354
WI    0.014354
UT    0.014354
KY    0.014354
KS    0.014354
NV    0.014354
ID    0.009569
AZ    0.009569
AR    0.009569
AL    0.009569
MO    0.009569
VA    0.009569
HI    0.004785
LA    0.004785
ME    0.004785
DC    0.004785
NE    0.004785
SD    0.004785
VT    0.004785
WV    0.004785
dtype: float64

In [266]:
# method 2
subset2.groupby(by=['nppes_provider_state'])['opioid_claim_rate'].count().sort_values(ascending=False)

nppes_provider_state
CA    19
FL    15
NY    12
MI    12
PA    10
CO    10
IL     9
NC     9
OH     9
WA     8
TX     8
TN     6
NJ     6
MD     5
MN     5
OK     4
OR     4
MS     4
CT     4
MA     4
GA     4
IN     4
SC     3
WI     3
UT     3
KY     3
KS     3
NV     3
ID     2
AZ     2
AR     2
AL     2
MO     2
VA     2
HI     1
LA     1
ME     1
DC     1
NE     1
SD     1
VT     1
WV     1
Name: opioid_claim_rate, dtype: int64

## Question 8:
Using the `opioid_claim_rate` column computed in the previous question:

1. Create a new DataFrame `g` that aggregates the `nppes_provider_gender` column using the `groupby` method and the `size` function to output the gender breakdown in the dataset. You can use this code to answer this question:
```python
g = part_d.groupby('nppes_provider_gender').size().reset_index()
```
2. Use the `rename` method to rename the columns of DataFrame `g` to *gender* and *count*.
3. Now compute the aggregation of the dataset by gender but filtered to the **high opioid providers**. Name the DataFrame `g2`. Rename the columns to *gender* and *high_opioid_count*.
4. Join the DataFrames g and g2 using the gender column as the key. The final result should look like this:
```
gender	count	high_opioid_count
	F	2458	62
	M	3357	147
```
5. Compute the ratio of `high_opioid_count` to `count` for each row and note the difference

In [269]:
part_d['nppes_provider_gender']

0       M
1       M
2       F
3       M
4       F
       ..
5810    F
5811    F
5812    F
5813    F
5814    M
Name: nppes_provider_gender, Length: 5815, dtype: object

In [317]:
g = part_d.groupby('nppes_provider_gender').size().reset_index()
g

  nppes_provider_gender     0
0                     F  2458
1                     M  3357

In [318]:
g.rename(columns={'nppes_provider_gender': 'gender', 0: 'count'}, inplace=True)
g

  gender  count
0      F   2458
1      M   3357

In [328]:
g2 = pd.DataFrame(subset2.groupby(by=['nppes_provider_gender'])['opioid_claim_rate'].count().sort_values(ascending=False))
g2.rename(columns={'nppes_provider_gender': 'gender', 'opioid_claim_rate': 'count'}, inplace=True)
g2

                       count
nppes_provider_gender
M                        147
F                         62

In [336]:
final_result = pd.merge(left=g,
             right=g2,
            left_on = ['gender'],
             right_on = ['nppes_provider_gender'])
final_result
final_result.rename(columns={'count_x': 'count', 'count_y': 'high_opioid_count'}, inplace=True)
final_result

  gender  count  high_opioid_count
0      F   2458                 62
1      M   3357                147

In [339]:
final_result['high_opioid_count']/final_result['count']
# although the high opinid count of male is 2 times more than that of female, the total number of male is 1.5 times
# of that of female, reducing the ratio to a little bit less than 2.

0    0.025224
1    0.043789
dtype: float64

## Question 9:
The Office of Inspector General ([OIG](https://oig.hhs.gov/)) has the authority to **exclude** individuals and entities from Federally funded health care programs. To be excluded is quite serious, as you can see from their website:

>The OIG maintains a list of all currently excluded individuals and entities called the List of Excluded Individuals/Entities (LEIE). Anyone who hires an individual or entity on the LEIE may be subject to civil monetary penalties (CMP). To avoid CMP liability, health care entities should routinely check the list to ensure that new hires and current employees are not on it.

This list is publicaly available, [here](https://oig.hhs.gov/exclusions/exclusions_list.asp). I have downloaded this file in its entirety (in December 2020) and have stripped it down to the columns we need.

Load the provided file into a DataFrame, named `exclusions`:

```python
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
```
This question has a number of parts:

1. Print the number of rows and columns in the exclusions dataset.
2. Display the first 6 rows the DataFrame. 
3. Display 3 random rows of the DataFrame using the `sample` method.
4. Use the `nunique` method to determine the number of unique NPIs. Compare this to the size of the dataset - what do you observe?
5. Are there any NULL `NPI` values?
6. What is the most frequent `NPI` value?
7. Apply the `unique` method to the NPI column and convert the outcome to a list of NPIs (hint use the `tolist` method). Store the output in a variable called `npis`. What is the length of `npis`?
8. Apply the `isin` method to `part_d` to tag the rows whose NPI is in the list of excluded NPIs. You can use the following code. How many records are there in `excluded1`?
```python
excluded1 = part_d[part_d['npi'].isin(npis)]
```

In [341]:
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
exclusions

         LASTNAME    FIRSTNAME STATE  NPI
0         AALDERS        NANCY    IL    0
1        AALTONEN     NICKOLAS    WA    0
2           AAMIR     MUHAMMAD    MI    0
3           AARON        ALINA    AZ    0
4           AARON  CHRISTOPHER    PA    0
...           ...          ...   ...  ...
69853   ZWOLINSKI      RUSSELL    IL    0
69854   ZYDERVELD         MARY    VA    0
69855     ZYLSTRA   CHRISTEENA    MO    0
69856     ZYLSTRA        JAMES    MN    0
69857  ZYWOCINSKI      CYNTHIA    MA    0

[69858 rows x 4 columns]

In [346]:
# number of row
len(exclusions)

69858

In [348]:
# number of column
len(exclusions.columns)

4

In [352]:
exclusions.head(6)

   LASTNAME FIRSTNAME STATE  NPI
0   AALDERS     NANCY    IL    0
1  AALTONEN  NICKOLAS    WA    0
2     AAMIR  MUHAMMAD    MI    0

In [353]:
exclusions.sample(3)

            LASTNAME FIRSTNAME STATE  NPI
35203         LANDRY     NORMA    LA    0
48881  PERKINS-BROWN   ROSETTA    KY    0
10918        CHAPMAN    SHARON    WA    0

In [381]:
exclusions['NPI'].nunique()
#only less than 10% of NPI of whole exclusion dataset is unique, meaning most of them have the same NPI.

5200

In [364]:
exclusions['NPI'].notnull().sum()
# There are no null value for NPI.

69858

In [375]:
exclusions.mode()
# 0 is the most frequent NPI

  LASTNAME FIRSTNAME STATE  NPI
0    SMITH   MICHAEL    CA    0

In [385]:
npis = exclusions['NPI'].unique().tolist() # returns a list
len(npis)
# the length of npis is 5200

5200

In [387]:
excluded1 = part_d[part_d['npi'].isin(npis)]
excluded1
# two records are in excluded1

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate
3814,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,319.0,NaN,NaN,15.0,NaN,NaN,214.0,138.0,1.3818,0.089926
4481,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,427.0,25.0,NaN,NaN,0.0,NaN,168.0,295.0,1.6193,0.119433

## Question 10
In question 9 we searched for records in the part_d DataFrame whose NPI was in the exclusions dataset. Matching across the NPI yielded only 2 excluded providers. This seems suspicious. The problem is probably due to the fact that so many of the NPIs in the excluded dataset are marked as `0`. Perhaps we can do better by matching across first and last names. Let's do that in these steps.
1. As a sanity check, let's first do a merge between the two datasets on NPI. Your results should confirm the result obtained in question 9. For convenience, define this list of columns:
```python
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]
```
Perform the merge and display the output for the columns in `cols`. You can use the following code to answer this question:
```python
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
         left_on = ['npi'],
         right_on = ['NPI']
        )
excluded2[cols]
```
Your results should match the results from Question 9.


2. Since we are going to match across names, let's first convert the applicable columns to upper case and strip out any leading or trailing spaces. You can use the following code to answer this question but you'll need to apply it to the remaining first and last name columns, eg 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'FIRSTNAME' and 'LASTNAME'
```python
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
```

3. Run another inner join across both datasets using first and last names. My result had 435 rows. Please take a look at the dataset filtering on the columns in `cols` as done above. What do you notice? 


4. In order to conduct a better quality match, include the state in your join keys. You should now be matching on first name, last name and state. My result had 22 records. I feel more confident in this match since the names and state lines up. You'll notice that some of the providers have 0 `opioid_claim_rate`. This is not that surprising as there are many different kinds of behaviors that a provider can engage in in order to get on the exclusisons list.

In [388]:
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]

In [398]:
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['npi'],
      right_on = ['NPI']
     )
excluded2[cols]

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
1,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433

In [405]:
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
part_d['nppes_provider_last_org_name'] = part_d['nppes_provider_last_org_name'].str.upper().str.strip()
exclusions['LASTNAME'] = exclusions['LASTNAME'].str.upper().str.strip()
exclusions['FIRSTNAME'] = exclusions['FIRSTNAME'].str.upper().str.strip()

In [408]:
pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name'],
      right_on = ['FIRSTNAME','LASTNAME']
     )

# The are many more matching cases if we match by first and last name

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,LASTNAME,FIRSTNAME,STATE,NPI
0,1003153628,COLEMAN,RICHARD,NaN,FNP-BC,M,I,128 N. FM 3167,NaN,RIO GRANDE CITY,...,0.0,0.0,81.0,171.0,1.7090,0.047162,COLEMAN,RICHARD,CA,0
1,1003290974,JONES,MARILYN,A,NP,F,I,8778 MADISON AVE,SUITE 200,INDIANAPOLIS,...,0.0,NaN,140.0,48.0,1.1498,0.017435,JONES,MARILYN,AR,0
2,1003811837,ROBINSON,MARK,K,O.D.,M,I,123 MILL ST,NaN,LOCKLAND,...,0.0,NaN,NaN,NaN,1.1873,0.000000,ROBINSON,MARK,NH,1427112325
3,1346286507,ROBINSON,MARK,I,MD,M,I,400 N PEPPER AVE,NaN,COLTON,...,NaN,NaN,NaN,NaN,NaN,0.000000,ROBINSON,MARK,NH,1427112325
4,1003868787,NELSON,DOUGLAS,D,MD,M,I,8735 S MERRION LN,NaN,HOMETOWN,...,0.0,NaN,78.0,23.0,0.9854,0.196429,NELSON,DOUGLAS,IA,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1982648333,MILLER,TIMOTHY,C,MD,M,I,301 S PRICE ST,STE 1,KINGWOOD,...,0.0,0.0,NaN,NaN,1.2108,NaN,MILLER,TIMOTHY,UT,0
431,1982668497,JIMERSON,ANDREW,NaN,M.D.,M,I,6620 MCGINNIS FERRY RD,NaN,DULUTH,...,0.0,0.0,NaN,NaN,0.8929,0.175676,JIMERSON,ANDREW,OH,1427056076
432,1992142632,MARSHALL,JESSICA,NaN,D.O.,F,I,405 W GRAND AVE,NaN,DAYTON,...,0.0,0.0,71.0,42.0,1.5571,0.083333,MARSHALL,JESSICA,FL,0
433,1992786305,FOX,JOHN,NaN,M.D.,M,I,403 WOODLAND HILLS BLVD,NaN,FORT SCOTT,...,NaN,12.0,680.0,278.0,1.3502,0.048907,FOX,JOHN,AL,0
434,1992905616,LEE,SHARON,J,DDS,F,I,1771 W ROMNEYA DR STE F,NaN,ANAHEIM,...,NaN,NaN,NaN,NaN,NaN,NaN,LEE,SHARON,TX,0

In [410]:
pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name','nppes_provider_state'],
      right_on = ['FIRSTNAME','LASTNAME','STATE']
     )

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,LASTNAME,FIRSTNAME,STATE,NPI
0,1013070861,HARRIS,CHARLES,A,D.D.S,M,I,1108 1ST ST,NaN,LA MARQUE,...,0.0,0.0,12.0,0.0,2.1663,0.000000,HARRIS,CHARLES,TX,0
1,1053349506,TORRES,JOSE,NaN,MD,M,I,2211 NE 36TH ST. SUITE 101,NaN,LIGHTHOUSE POINT,...,0.0,NaN,178.0,161.0,1.5725,0.040196,TORRES,JOSE,FL,0
2,1144278052,TAYLOR,ROBERT,W,MD,M,I,10333 EL CAMINO REAL,NaN,ATASCADERO,...,NaN,NaN,NaN,NaN,NaN,0.000000,TAYLOR,ROBERT,CA,0
3,1144382672,SMITH,MARY,T,FNP,F,I,1818 COLLEGE DRIVE,NaN,MERIDIAN,...,NaN,NaN,NaN,NaN,NaN,0.000000,SMITH,MARY,MS,0
4,1184608903,LEE,ROBERT,D,MD,M,I,311 W LINCOLN ST,SUITE 200,BELLEVILLE,...,0.0,NaN,101.0,69.0,3.4946,0.172285,LEE,ROBERT,IL,0
5,1205807864,ROTH,ROBERT,J,MD,M,I,2557 MOWRY AVE,STE 34,FREMONT,...,0.0,NaN,33.0,19.0,1.5279,NaN,ROTH,ROBERT,CA,1700869864
6,1205839776,MARTINEZ,MARTHA,NaN,"M.D., F.A.C.O.G.",F,I,1076 E LOS EBANOS BLVD,NaN,BROWNSVILLE,...,0.0,0.0,45.0,55.0,1.1785,NaN,MARTINEZ,MARTHA,TX,0
7,1275501629,JONES,ROBERT,C,MD,M,I,1866 N ORANGE GROVE AVE,SUITE 102,POMONA,...,0.0,0.0,NaN,NaN,1.5204,0.034858,JONES,ROBERT,CA,0
8,1346213907,LEE,STEPHEN,Y,M.D.,M,I,100 PRESIDENTIAL BLVD,SUITE 200,BALA CYNWYD,...,0.0,28.0,590.0,198.0,1.1935,0.000000,LEE,STEPHEN,PA,0
9,1346223179,SMITH,RICHARD,C,MD,M,I,27401 WEST HIGHWAY 22,SUITE 111,BARRINGTON,...,NaN,NaN,NaN,NaN,NaN,0.000000,SMITH,RICHARD,IL,0
10,1356315410,NGUYEN,DUC,C,MD,M,I,473 W EATON AVE,NaN,TRACY,...,NaN,0.0,23.0,22.0,1.5332,0.727273,NGUYEN,DUC,CA,0
11,1356408017,GONZALES,ROBERT,P,O.D.,M,I,1415 N BRISTOL ST,NaN,SANTA ANA,...,0.0,0.0,NaN,NaN,1.2577,0.000000,GONZALES,ROBERT,CA,0
12,1427333186,MARTIN,REBECCA,L,PA,F,I,409 W ADAMS AVE,NaN,TEMPLE,...,0.0,NaN,45.0,14.0,1.1927,0.000000,MARTIN,REBECCA,TX,0
13,1518012954,WILLIAMS,DAVID,NaN,NaN,M,I,1200 N STATE ST,NaN,LOS ANGELES,...,0.0,NaN,123.0,39.0,1.4034,0.281746,WILLIAMS,DAVID,CA,0
14,1528326428,LANE,WILLIAM,M,"MD, DMD",M,I,1 BOSTON MEDICAL CTR PL,NaN,BOSTON,...,0.0,NaN,NaN,NaN,1.1201,0.261905,LANE,WILLIAM,MA,0
15,1538442017,ORTIZ,JENNIFER,M,DDS,F,I,107 W 4TH ST,NaN,MOUNT VERNON,...,0.0,NaN,NaN,NaN,0.9508,0.000000,ORTIZ,JENNIFER,NY,0
16,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,NaN,NaN,214.0,138.0,1.3818,0.089926,FRANCIS,DESMOND,NY,1659506111
17,1700185345,KATZ,ALAN,NaN,D.D.S.,M,I,80 PARK PL,NaN,EAST HAMPTON,...,0.0,NaN,28.0,0.0,0.9892,0.000000,KATZ,ALAN,NY,0
18,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,0.0,NaN,168.0,295.0,1.6193,0.119433,YANG,HARRISON,TN,1770505612
19,1871955906,LOPEZ,CARMEN,L,ARNP,F,I,3100 SW 62ND AVE,NaN,MIAMI,...,NaN,NaN,NaN,NaN,NaN,0.000000,LOPEZ,CARMEN,FL,0
20,1942309596,RODRIGUEZ,MARGARITA,NaN,DMD,F,I,4801 S CONGRESS AVE,SUITE #202,LAKE WORTH,...,NaN,NaN,59.0,73.0,1.3057,NaN,RODRIGUEZ,MARGARITA,FL,0
21,1942592324,SMITH,JENNIFER,N,PA-C,F,I,5623 US 221 S,NaN,MARION,...,0.0,0.0,137.0,110.0,1.1886,0.036195,SMITH,JENNIFER,NC,0