# Homework 2

The goal of this Homework is to write Python code to answer each of the questions below. You should be able to answer these questions using Pandas only. You should not need to import any other packages. You should not use Excel or any other means to answer these questions. **Since questions have subquestions, it would be helpful if you use comments to clearly indicate which question you are answering**.

## Introduction
The Centers for Medicare & Medicaid Services ([CMS](cms.gov)) is a federal agency within the United States Department of Health and Human Services (HHS) that administers the **Medicare program** and works in partnership with state governments to administer Medicaid, the Children's Health Insurance Program (CHIP), and health insurance portability standards.
 - **Medicare** is a national health insurance program that provides health insurance for Americans aged 65 and over

The **Medicare Part D** program, also called the Medicare prescription drug benefit, is an optional United States federal-government program to help Medicare beneficiaries pay for self-administered prescription drugs through prescription drug insurance premiums.

CMS maintains a lot of [public info](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Part-D-Prescriber) on prescription drugs that are prescribed by individual physicians and other health care **providers** and paid for under the **Medicare Part D** Prescription Drug Program.

I downloaded the **2017 Provider Summary table** and sampled it down from 1.1 million records (360 MB) to roughly 6000 records (2MB). If you would like to check out the original dataset, you can download it from this site https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/PartD2017   

But for this assignment, you need to use the provided downsampled dataset `part_d_drug_prescriptions_sample2.csv`. If you would like, the data dictionary is available [here](https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Downloads/Prescriber_Methods.pdf). The applicable section is Table 2 in the Appendix.

In [9]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_rows', 200)

## Question 1

Use Pandas to import **part_d_drug_prescriptions_sample2.csv** into a DataFrame, named `part_d`. How many rows and colums does the dataset have?

In [14]:
# Read dataset
part_d=pd.read_csv('/Users/user/part_d_drug_prescriptions_sample2.csv')

In [420]:
#Question 1ï¼šcalculate number of rows and columns
print('Question 1: How many rows and colums does the dataset have?')
part_d.shape
print( len(part_d),'rows')
print(len(part_d.columns),'columns')

Question 1: How many rows and colums does the dataset have?
5815 rows
86 columns

## Question 2
This question has two parts:
1. Display the first 6 rows of `part_d`.
2. Display the last 6 rows of `part_d`.

In [423]:
#Question 2-1
print('Question 2-1: Display the first 6 rows of part_d.')
# Display the first 6 rows of part_d.
part_d.head(6)

Question 2-1: Display the first 6 rows of part_d.

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,high_provider
3437,1598058794,CHEAH,JONATHAN,W,MD,M,I,201 STATE ST,NaN,ERIE,...,0.0,NaN,NaN,0.0,0.0,NaN,NaN,1.4740,1.000000,1.000000
5026,1861566648,LEE,PATRICIA,NaN,PHARMD,F,I,275 HOSPITAL PKWY STE 625,NaN,SAN JOSE,...,NaN,NaN,NaN,0.0,0.0,36.0,12.0,1.6640,0.971530,0.971530
2630,1457357691,FIGAROLA,TULIO,NaN,NaN,M,I,2100 HIGHWAY 61 N,NaN,VICKSBURG,...,31.0,0.0,0.0,0.0,0.0,31.0,26.0,1.6135,0.913978,0.913978
2451,1427037050,LANG,DAVID,H,MD,M,I,7220 S HIGHWAY 16,NaN,RAPID CITY,...,0.0,0.0,NaN,0.0,NaN,NaN,NaN,1.0541,0.890909,0.890909
5363,1922080910,LEAHY,MICHAEL,C,M.D.,M,I,1045 GEZON PKWY SW,NaN,WYOMING,...,NaN,NaN,NaN,NaN,NaN,59.0,21.0,5.6397,0.883495,0.883495
2661,1457639478,SCHMOCKER,RYAN,K,M.D.,M,I,600 N WOLFE STREET,BLALOCK 611,BALTIMORE,...,NaN,NaN,NaN,0.0,NaN,25.0,11.0,1.5047,0.875000,0.875000

In [424]:
# Question2-2
print('Question 2-2: Display the last 6 rows of part_d.')
# Display the last 6 rows of part_d.
part_d.tail(6)

Question 2-2: Display the last 6 rows of part_d.

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,high_provider
5788,1992772313,YOM,JOHN,NaN,NaN,M,I,1620 ROUTE 22,NaN,BREWSTER,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1.3176,NaN,NaN
5806,1992905616,LEE,SHARON,J,DDS,F,I,1771 W ROMNEYA DR STE F,NaN,ANAHEIM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5808,1992926893,WADE,LYDIA,M,M.D.,F,I,1900 CENTRA CARE CIRCLE,CENTRA CARE CLINIC - WOMEN'S & CHILDRENS,ST CLOUD,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.6301,NaN,NaN
5809,1992936330,MANLEY,CHRISTOPHER,J,MD,M,I,333 COTTMAN AVE,NaN,PHILADELPHIA,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,2.5471,NaN,NaN
5812,1992969141,BURKART,NORA,E,M.D.,F,I,1805 HENNEPIN AVE N,NaN,GLENCOE,...,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.3618,NaN,NaN
5813,1992980767,TANAWUTTIWAT,TANYANAN,NaN,M.D.,F,I,2500 N STATE ST,NaN,JACKSON,...,79.0,NaN,NaN,NaN,0.0,75.0,78.0,2.0090,NaN,NaN

## Question 3
This question has 4 parts:
1. Use the `info()` function to examine the DataFrame from a high level. Take a moment to look at the number of non-null values and the datatypes of each column. 
2. How many non-null values does the `npi` column have? (Use the output of the `info()` function to answer this question.)
3. What is the data type of the `npi` column? (Use the output of the `info()` function to answer this question.)
4. The purpose of this question is to understand the data you are looking at. The `npi` stands for National Provider Identifier. Please provide a one or two sentence description of the NPI - you may use a web search (google/wikipedia/etc...) to answer this question.

In [425]:
# Question3-1: Use the info() function to examine the DataFrame from a high level
print('Question 3-1: Use the info() function to examine the DataFrame from a high level')
part_d.info()

Question 3-1: Use the info() function to examine the DataFrame from a high level
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5815 entries, 3437 to 5813
Data columns (total 86 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   npi                               5815 non-null   int64
 1   nppes_provider_last_org_name      5815 non-null   object
 2   nppes_provider_first_name         5815 non-null   object
 3   nppes_provider_mi                 4074 non-null   object
 4   nppes_credentials                 5461 non-null   object
 5   nppes_provider_gender             5815 non-null   object
 6   nppes_entity_code                 5815 non-null   object
 7   nppes_provider_street1            5815 non-null   object
 8   nppes_provider_street2            2107 non-null   object
 9   nppes_provider_city               5815 non-null   object
 10  nppes_provider_zip5               5815 non-null   float64
 11  nppes_provider_zip4               5031 non-null   float64
 12  nppes_provider_state              5815 non-null   object
 13  nppes_provider_country            5815 non-null   object
 14  specialty_description             5815 non-null   object
 15  description_flag                  5815 non-null   object
 16  medicare_prvdr_enroll_status      5815 non-null   object
 17  total_claim_count                 5815 non-null   int64
 18  total_30_day_fill_count           5815 non-null   float64
 19  total_drug_cost                   5815 non-null   float64
 20  total_day_supply                  5815 non-null   int64
 21  bene_count                        5186 non-null   float64
 22  ge65_suppress_flag                1295 non-null   object
 23  total_claim_count_ge65            4520 non-null   float64
 24  total_30_day_fill_count_ge65      4520 non-null   float64
 25  total_drug_cost_ge65              4520 non-null   float64
 26  total_day_supply_ge65             4520 non-null   float64
 27  bene_count_ge65_suppress_flag     2595 non-null   object
 28  bene_count_ge65                   3220 non-null   float64
 29  brand_suppress_flag               2324 non-null   object
 30  brand_claim_count                 3491 non-null   float64
 31  brand_drug_cost                   3491 non-null   float64
 32  generic_suppress_flag             1573 non-null   object
 33  generic_claim_count               4242 non-null   float64
 34  generic_drug_cost                 4242 non-null   float64
 35  other_suppress_flag               1224 non-null   object
 36  other_claim_count                 4591 non-null   float64
 37  other_drug_cost                   4591 non-null   float64
 38  mapd_suppress_flag                1096 non-null   object
 39  mapd_claim_count                  4719 non-null   float64
 40  mapd_drug_cost                    4719 non-null   float64
 41  pdp_suppress_flag                 1096 non-null   object
 42  pdp_claim_count                   4719 non-null   float64
 43  pdp_drug_cost                     4719 non-null   float64
 44  lis_suppress_flag                 1191 non-null   object
 45  lis_claim_count                   4624 non-null   float64
 46  lis_drug_cost                     4624 non-null   float64
 47  nonlis_suppress_flag              1191 non-null   object
 48  nonlis_claim_count                4624 non-null   float64
 49  nonlis_drug_cost                  4624 non-null   float64
 50  opioid_claim_count                4225 non-null   float64
 51  opioid_drug_cost                  4225 non-null   float64
 52  opioid_day_supply                 4225 non-null   float64
 53  opioid_bene_count                 3954 non-null   float64
 54  opioid_prescriber_rate            4225 non-null   float64
 55  la_opioid_claim_count             5099 non-null   float64
 56  la_opioid_drug_cost               5099 non-null   float64
 57  la_opioid_day_supply              5099 non-null   float64
 58  la_opioid_bene_count              4703 non-null   float64
 59  la_opioid_prescriber_rate         3340 non-null   float64
 60  antibiotic_claim_count            4112 non-null   float64
 61  antibiotic_drug_cost              4112 non-null   float64
 62  antibiotic_bene_count             3812 non-null   float64
 63  antipsych_ge65_suppress_flag      788 non-null    object
 64  antipsych_claim_count_ge65        5027 non-null   float64
 65  antipsych_drug_cost_ge65          5027 non-null   float64
 66  antipsych_bene_ge65_suppress_flg  1254 non-null   object
 67  antipsych_bene_count_ge65         4561 non-null   float64
 68  average_age_of_beneficiaries      5186 non-null   float64
 69  beneficiary_age_less_65_count     3220 non-null   float64
 70  beneficiary_age_65_74_count       2675 non-null   float64
 71  beneficiary_age_75_84_count       1815 non-null   float64
 72  beneficiary_age_greater_84_count  1935 non-null   float64
 73  beneficiary_female_count          4157 non-null   float64
 74  beneficiary_male_count            4157 non-null   float64
 75  beneficiary_race_white_count      2848 non-null   float64
 76  beneficiary_race_black_count      2004 non-null   float64
 77  beneficiary_race_asian_pi_count   2585 non-null   float64
 78  beneficiary_race_hispanic_count   2006 non-null   float64
 79  beneficiary_race_nat_ind_count    4176 non-null   float64
 80  beneficiary_race_other_count      1784 non-null   float64
 81  beneficiary_nondual_count         3455 non-null   float64
 82  beneficiary_dual_count            3455 non-null   float64
 83  beneficiary_average_risk_score    5186 non-null   float64
 84  opioid_claim_rate                 4225 non-null   float64
 85  high_provider                     4225 non-null   float64
dtypes: float64(58), int64(3), object(25)
memory usage: 3.9+ MB

In [609]:
print('Question 3-2:How many non-null values does the npi column have? 5815')
print('Question 3-3:What is the data type of the npi column? int64')
print('Question 3-4: Please provide a one or two sentence description of the NPI:')
print('NPI is The National Provider Identifier, a unique identification number for covered health care providers. ')

Question 3-2:How many non-null values does the npi column have? 5815
Question 3-3:What is the data type of the npi column? int64
Question 3-4: Please provide a one or two sentence description of the NPI:
NPI is The National Provider Identifier, a unique identification number for covered health care providers.

## Question 4
Take a look at the `nppes_provider_state` column. Compute the number of unique values in this column using at least two different methods.

In [429]:
# Take a look at the nppes_provider_state column
columns=['nppes_provider_state']
df=part_d[columns]
#Question 4 - method 1: Using len()
n_1 = len(pd.unique(df['nppes_provider_state'])) 
  
print("Question 4 - method 1 - Using len(): number of unique values in this column:",n_1)

Question 4 - method 1 - Using len(): number of unique values in this column: 55

In [430]:
#Question 4 - method 2 - :Using Dataframe.nunique().
n_2 = df.nunique(axis=0) 
  
print("Question 4 - method 2 - Using Dataframe.nunique(): number of unique values in this column:",n)

Question 4 - method 2 - Using Dataframe.nunique(): number of unique values in this column: 55

## Question 5
Let's take a look at the `specialty_description` column. Use the `value_counts()` method to determine the TOP 5 specialties in the dataset as well as their frequencies.

In [431]:
# Question 5 
# Take a look at the specialty_description column
print('Take a look at the specialty_description column')
columns2=['specialty_description']
df2=part_d[columns2]
df2.value_counts()

Take a look at the specialty_description column

specialty_description
Nurse Practitioner                                                785
Dentist                                                           647
Internal Medicine                                                 626
Family Practice                                                   565
Physician Assistant                                               446
Emergency Medicine                                                250
Student in an Organized Health Care Education/Training Program    250
Obstetrics & Gynecology                                           203
Optometry                                                         168
Psychiatry                                                        152
General Surgery                                                   121
Ophthalmology                                                     115
Cardiology                                                         96
Podiatry                                                           87
Orthopedic Surgery                                                 87
Neurology                                                          74
Gastroenterology                                                   62
Dermatology                                                        60
Psychiatry & Neurology                                             58
Pediatric Medicine                                                 52
Urology                                                            51
Pulmonary Disease                                                  49
Hematology-Oncology                                                49
Otolaryngology                                                     46
General Practice                                                   45
Nephrology                                                         35
Pharmacist                                                         34
Endocrinology                                                      31
Anesthesiology                                                     30
Hospitalist                                                        30
Physical Medicine and Rehabilitation                               29
Rheumatology                                                       29
Infectious Disease                                                 27
Radiation Oncology                                                 24
Oral Surgery (Dentist only)                                        23
Allergy/ Immunology                                                23
Plastic and Reconstructive Surgery                                 23
Interventional Cardiology                                          19
Neurosurgery                                                       19
Pain Management                                                    18
Medical Oncology                                                   17
Diagnostic Radiology                                               17
Vascular Surgery                                                   17
Certified Nurse Midwife                                            16
Orthopaedic Surgery                                                16
Specialist                                                         15
Clinical Cardiac Electrophysiology                                 14
Certified Clinical Nurse Specialist                                14
Neuropsychiatry                                                    10
Interventional Pain Management                                     10
Geriatric Medicine                                                  9
Plastic Surgery                                                     8
Critical Care (Intensivists)                                        8
Colorectal Surgery (Proctology)                                     7
Thoracic Surgery                                                    6
Interventional Radiology                                            6
Gynecological Oncology                                              6
Sports Medicine                                                     6
Hand Surgery                                                        6
Preventive Medicine                                                 5
Undefined Physician type                                            5
Hospice and Palliative Care                                         4
Osteopathic Manipulative Medicine                                   4
Pathology                                                           4
Naturopath                                                          4
General Acute Care Hospital                                         4
Cardiac Surgery                                                     4
Registered Nurse                                                    4
Maxillofacial Surgery                                               3
Surgical Oncology                                                   3
Oral & Maxillofacial Surgery                                        3
Hematology                                                          2
Legal Medicine                                                      2
Psychologist, Clinical                                              2
Chiropractic                                                        2
Family Medicine                                                     2
Emergency Medical Technician, Basic                                 1
Case Manager/Care Coordinator                                       1
Addiction Medicine                                                  1
Specialist/Technologist                                             1
Certified Registered Nurse Anesthetist (CRNA)                       1
Nuclear Medicine                                                    1
Neuromusculoskeletal Medicine, Sports Medicine                      1
Clinic/Center                                                       1
Local Education Agency (LEA)                                        1
Counselor                                                           1
Independent Medical Examiner                                        1
Acupuncturist                                                       1
dtype: int64

In [433]:
# Select top 5 specialist
# Use the value_counts() method to determine the TOP 5 specialties in the dataset as well as their frequencies
print('Question 5: top 5 specialist and their frequencies:')
df3=df2.value_counts()
df3_1=df3.to_frame()
# Rename the column
df3_1.columns=['frequencies']
df3_1[0:5]

Question 5: top 5 specialist and their frequencies:

                       frequencies
specialty_description
Nurse Practitioner             785
Dentist                        647
Internal Medicine              626
Family Practice                565
Physician Assistant            446

## Question 6
This question has four parts:
1. Define a variable `N` equal to the number of rows in the DataFrame, using the DataFrame `len` or `shape` methods.
2. Append the `cumsum()` function to the output of the `value_counts()` function on the `specialty_description` field  and divide the output by `N` to obtain the cumulative ratio to the total count. 
3. Create a boolean variable (eg a mask) which resolves to `True` if the cumulative sum is less than 75%, else `False`.
4. Use this boolean mask to filter the output of `value_counts()` to identify the columns that contribute to the first 75% of all specialities.

In [435]:
# Question 6-1
# Using DataFrame len method to calculated N (number of rows in the DataFrame)
N=len(part_d)
print('Question 6-1: N=',N)

Question 6-1: N= 5815

In [438]:
# Question 6-2
print('Question 6-2: The cumulative ratio to the total account ')
# Append the cumsum() function to the output of the value_counts() function on the specialty_description
df3.cumsum()
# Divide the output by N to obtain the cumulative ratio to the total count and set new dataframe
df4=df3.cumsum()/N
df4_1=df4.to_frame()
# Rename the column
df4_1.columns = ['cumulative_ratio']
df4_1

Question 6-2: The cumulative ratio to the total account

                                                    cumulative_ratio
specialty_description
Nurse Practitioner                                          0.134996
Dentist                                                     0.246260
Internal Medicine                                           0.353912
Family Practice                                             0.451075
Physician Assistant                                         0.527773
Emergency Medicine                                          0.570765
Student in an Organized Health Care Education/T...          0.613758
Obstetrics & Gynecology                                     0.648667
Optometry                                                   0.677558
Psychiatry                                                  0.703697
General Surgery                                             0.724506
Ophthalmology                                               0.744282
Cardiology                                                  0.760791
Podiatry                                                    0.775752
Orthopedic Surgery                                          0.790714
Neurology                                                   0.803439
Gastroenterology                                            0.814101
Dermatology                                                 0.824420
Psychiatry & Neurology                                      0.834394
Pediatric Medicine                                          0.843336
Urology                                                     0.852107
Pulmonary Disease                                           0.860533
Hematology-Oncology                                         0.868960
Otolaryngology                                              0.876870
General Practice                                            0.884609
Nephrology                                                  0.890628
Pharmacist                                                  0.896475
Endocrinology                                               0.901806
Anesthesiology                                              0.906965
Hospitalist                                                 0.912124
Physical Medicine and Rehabilitation                        0.917111
Rheumatology                                                0.922098
Infectious Disease                                          0.926741
Radiation Oncology                                          0.930868
Oral Surgery (Dentist only)                                 0.934824
Allergy/ Immunology                                         0.938779
Plastic and Reconstructive Surgery                          0.942734
Interventional Cardiology                                   0.946002
Neurosurgery                                                0.949269
Pain Management                                             0.952365
Medical Oncology                                            0.955288
Diagnostic Radiology                                        0.958212
Vascular Surgery                                            0.961135
Certified Nurse Midwife                                     0.963887
Orthopaedic Surgery                                         0.966638
Specialist                                                  0.969218
Clinical Cardiac Electrophysiology                          0.971625
Certified Clinical Nurse Specialist                         0.974033
Neuropsychiatry                                             0.975752
Interventional Pain Management                              0.977472
Geriatric Medicine                                          0.979020
Plastic Surgery                                             0.980396
Critical Care (Intensivists)                                0.981771
Colorectal Surgery (Proctology)                             0.982975
Thoracic Surgery                                            0.984007
Interventional Radiology                                    0.985039
Gynecological Oncology                                      0.986071
Sports Medicine                                             0.987102
Hand Surgery                                                0.988134
Preventive Medicine                                         0.988994
Undefined Physician type                                    0.989854
Hospice and Palliative Care                                 0.990542
Osteopathic Manipulative Medicine                           0.991230
Pathology                                                   0.991917
Naturopath                                                  0.992605
General Acute Care Hospital                                 0.993293
Cardiac Surgery                                             0.993981
Registered Nurse                                            0.994669
Maxillofacial Surgery                                       0.995185
Surgical Oncology                                           0.995701
Oral & Maxillofacial Surgery                                0.996217
Hematology                                                  0.996561
Legal Medicine                                              0.996905
Psychologist, Clinical                                      0.997248
Chiropractic                                                0.997592
Family Medicine                                             0.997936
Emergency Medical Technician, Basic                         0.998108
Case Manager/Care Coordinator                               0.998280
Addiction Medicine                                          0.998452
Specialist/Technologist                                     0.998624
Certified Registered Nurse Anesthetist (CRNA)               0.998796
Nuclear Medicine                                            0.998968
Neuromusculoskeletal Medicine, Sports Medicine              0.999140
Clinic/Center                                               0.999312
Local Education Agency (LEA)                                0.999484
Counselor                                                   0.999656
Independent Medical Examiner                                0.999828
Acupuncturist                                               1.000000

In [440]:
# Question 6-3: Create a boolean variable: mask
df4_1
mask=df4_1<0.75
mask
# Take a look at the mask
print ("Take a look at the head rows and tail rows of mask")
print(mask.head())
print(mask.tail())

Take a look at the head rows and tail rows of mask
                       cumulative_ratio
specialty_description
Nurse Practitioner                 True
Dentist                            True
Internal Medicine                  True
Family Practice                    True
Physician Assistant                True
                              cumulative_ratio
specialty_description
Clinic/Center                            False
Local Education Agency (LEA)             False
Counselor                                False
Independent Medical Examiner             False
Acupuncturist                            False

In [446]:
# Rename the column
mask.columns = ['percentile']
print ('Boolean variable which resolves to True if the cumulative sum is less than 75%, else False')
mask

Boolean variable which resolves to True if the cumulative sum is less than 75%, else False

                                                    percentile
specialty_description
Nurse Practitioner                                        True
Dentist                                                   True
Internal Medicine                                         True
Family Practice                                           True
Physician Assistant                                       True
Emergency Medicine                                        True
Student in an Organized Health Care Education/T...        True
Obstetrics & Gynecology                                   True
Optometry                                                 True
Psychiatry                                                True
General Surgery                                           True
Ophthalmology                                             True
Cardiology                                               False
Podiatry                                                 False
Orthopedic Surgery                                       False
Neurology                                                False
Gastroenterology                                         False
Dermatology                                              False
Psychiatry & Neurology                                   False
Pediatric Medicine                                       False
Urology                                                  False
Pulmonary Disease                                        False
Hematology-Oncology                                      False
Otolaryngology                                           False
General Practice                                         False
Nephrology                                               False
Pharmacist                                               False
Endocrinology                                            False
Anesthesiology                                           False
Hospitalist                                              False
Physical Medicine and Rehabilitation                     False
Rheumatology                                             False
Infectious Disease                                       False
Radiation Oncology                                       False
Oral Surgery (Dentist only)                              False
Allergy/ Immunology                                      False
Plastic and Reconstructive Surgery                       False
Interventional Cardiology                                False
Neurosurgery                                             False
Pain Management                                          False
Medical Oncology                                         False
Diagnostic Radiology                                     False
Vascular Surgery                                         False
Certified Nurse Midwife                                  False
Orthopaedic Surgery                                      False
Specialist                                               False
Clinical Cardiac Electrophysiology                       False
Certified Clinical Nurse Specialist                      False
Neuropsychiatry                                          False
Interventional Pain Management                           False
Geriatric Medicine                                       False
Plastic Surgery                                          False
Critical Care (Intensivists)                             False
Colorectal Surgery (Proctology)                          False
Thoracic Surgery                                         False
Interventional Radiology                                 False
Gynecological Oncology                                   False
Sports Medicine                                          False
Hand Surgery                                             False
Preventive Medicine                                      False
Undefined Physician type                                 False
Hospice and Palliative Care                              False
Osteopathic Manipulative Medicine                        False
Pathology                                                False
Naturopath                                               False
General Acute Care Hospital                              False
Cardiac Surgery                                          False
Registered Nurse                                         False
Maxillofacial Surgery                                    False
Surgical Oncology                                        False
Oral & Maxillofacial Surgery                             False
Hematology                                               False
Legal Medicine                                           False
Psychologist, Clinical                                   False
Chiropractic                                             False
Family Medicine                                          False
Emergency Medical Technician, Basic                      False
Case Manager/Care Coordinator                            False
Addiction Medicine                                       False
Specialist/Technologist                                  False
Certified Registered Nurse Anesthetist (CRNA)            False
Nuclear Medicine                                         False
Neuromusculoskeletal Medicine, Sports Medicine           False
Clinic/Center                                            False
Local Education Agency (LEA)                             False
Counselor                                                False
Independent Medical Examiner                             False
Acupuncturist                                            False

In [447]:
# Question 6-4
print('Question 6-4: The columns that contribute to the first 75% of all specialities.')
mask[mask['percentile'] == True]

Question 6-4: The columns that contribute to the first 75% of all specialities.

                                                    percentile
specialty_description
Nurse Practitioner                                        True
Dentist                                                   True
Internal Medicine                                         True
Family Practice                                           True
Physician Assistant                                       True
Emergency Medicine                                        True
Student in an Organized Health Care Education/T...        True
Obstetrics & Gynecology                                   True
Optometry                                                 True
Psychiatry                                                True
General Surgery                                           True
Ophthalmology                                             True

## Question 7:
Take a look at these two columns: `total_claim_count` and `opioid_claim_count`. Define a new column that stores the ratio of the two, eg:
```python
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
```
Let us define **high opioid providers** as those who have an `opioid_claim_rate` that is greater than or equal to 50%. This question has three parts:
1. Run the describe method on the `opioid_claim_rate` column and note the statistics.
2. Use TWO different methods to calculate how many **high opioid providers** there are in the dataset. (Hint: you can use the sum of a boolean variable for one method and the size of a filtered dataset for the other method).
3. Use TWO different methods to identify the top 3 states that have the highest number of **high opioid providers**. (Hint: you can use value_counts for one method and groupby for the other method).

In [448]:
#Question 7-1
# Calculate the ratio
part_d['opioid_claim_rate'] = part_d['opioid_claim_count']/part_d['total_claim_count']
opioid_claim_rate_series=part_d['opioid_claim_rate']
# Convert into dataframe
opioid_claim_rate=opioid_claim_rate_series.to_frame()
print('Question 7-1: Describe method on the opioid_claim_rate column and note the statistics.')
opioid_claim_rate.info()
opioid_claim_rate.columns
opioid_claim_rate.describe()

Question 7-1: Describe method on the opioid_claim_rate column and note the statistics.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5815 entries, 3437 to 5813
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   opioid_claim_rate  4225 non-null   float64
dtypes: float64(1)
memory usage: 90.9 KB

       opioid_claim_rate
count        4225.000000
mean            0.097227
std             0.164038
min             0.000000
25%             0.000000
50%             0.022523
75%             0.113238
max             1.000000

In [551]:
#Question7-2
# Filter the dataset to get high_opioid_providers
print('dataset including high opioid providers')
high_opioid_providers=opioid_claim_rate>=0.5
high_opioid_providers
df_high=high_opioid_providers[high_opioid_providers['opioid_claim_rate'] == True]
df_high

dataset including high opioid providers

      opioid_claim_rate
3437               True
5026               True
2630               True
2451               True
5363               True
...                 ...
2227               True
2461               True
2090               True
405                True
1258               True

[209 rows x 1 columns]

In [453]:
#Question 7-2: method 1 - size of filtered dataset
num_high1=df_high.size
print('Question 7-2: method 1 - size of filtered dataset')
print('Number of high opioid providers is',num_high1)

Question 7-2: method 1 - size of filtered dataset
Number of high opioid providers is 209

In [452]:
#Question 7-2: method 2 - sum of a boolean variable
num_high2=int(df_high.sum())
print('Question 7-2: method 2 - sum of a boolean variable',num_high2)
print('Number of high opioid providers is',num_high2)

Question 7-2: method 2 - sum of a boolean variable 209
Number of high opioid providers is 209

In [601]:
#Question 7-3:method 1- values_counts
print('Question 7-3: top 3 state using values_counts')
part_d1=part_d
# Dadaframe adding True or False--whether it is high provider
part_d1['TorF']=high_opioid_providers['opioid_claim_rate']
h=part_d1.loc[part_d1['TorF']==True]
# Sort state
top=h.nppes_provider_state.value_counts()
top.head(3)

Question 7-3: top 3 state using values_counts

CA    19
FL    15
NY    12
Name: nppes_provider_state, dtype: int64

In [608]:
#Question 7-3:method 2-group by
print('Question 7-3: top 3 state using group by')
top2=h.groupby(by=['nppes_provider_state']).count()
top3=top2.sort_values(by=['TorF'],ascending=False).head(3)
top3

Question 7-3: top 3 state using group by

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,high_provider,TorF
nppes_provider_state,,,,,,,,,,,,,,,,,,,,,
CA,19,19,19,13,18,19,19,19,7,19,...,4,2,13,6,13,13,19,19,19,19
FL,15,15,15,10,15,15,15,15,10,15,...,5,6,12,3,11,11,15,15,15,15
NY,12,12,12,6,9,12,12,12,7,12,...,6,1,11,3,5,5,12,12,12,12

## Question 8:
Using the `opioid_claim_rate` column computed in the previous question:

1. Create a new DataFrame `g` that aggregates the `nppes_provider_gender` column using the `groupby` method and the `size` function to output the gender breakdown in the dataset. You can use this code to answer this question:
```python
g = part_d.groupby('nppes_provider_gender').size().reset_index()
```
2. Use the `rename` method to rename the columns of DataFrame `g` to *gender* and *count*.
3. Now compute the aggregation of the dataset by gender but filtered to the **high opioid providers**. Name the DataFrame `g2`. Rename the columns to *gender* and *high_opioid_count*.
4. Join the DataFrames g and g2 using the gender column as the key. The final result should look like this:
```
gender	count	high_opioid_count
	F	2458	62
	M	3357	147
```
5. Compute the ratio of `high_opioid_count` to `count` for each row and note the difference

In [321]:
#Question 8-2
print('Question8-2')
g = part_d.groupby('nppes_provider_gender').size().reset_index()
g.rename(columns={"nppes_provider_gender": "gender", 0: "count"})

Question8-2

  gender  count
0      F   2458
1      M   3357

In [454]:
#Question 8-2
print('Question8-3')
gender_high=part_d1[part_d1['high_provider']>=0.5]
gender_high
g2 = gender_high.groupby('nppes_provider_gender').size().reset_index()
g2.rename(columns={"nppes_provider_gender": "gender", 0: "high_opioid_count"})

Question8-3

  gender  high_opioid_count
0      F                 62
1      M                147

In [410]:
g_join=pd.merge(left=g,
         right=g2,
         how = 'inner',
         on = 'nppes_provider_gender',
        ) 
g_join.rename(columns={"nppes_provider_gender": "gender", '0_x':'count','0_y': "high_opioid_count"})

  gender  count  high_opioid_count
0      F   2458                 62
1      M   3357                147

In [411]:
g_ratio=g_join['0_y']/g_join['0_x']
g_difference=g_join['0_x']-g_join['0_y']
g_join['ratio']=g_ratio
g_join['difference']=g_difference
g_join
g_join.rename(columns={"nppes_provider_gender": "gender", '0_x':'count', '0_y':"high_opioid_count"})

  gender  count  high_opioid_count     ratio  difference
0      F   2458                 62  0.025224        2396
1      M   3357                147  0.043789        3210

## Question 9:
The Office of Inspector General ([OIG](https://oig.hhs.gov/)) has the authority to **exclude** individuals and entities from Federally funded health care programs. To be excluded is quite serious, as you can see from their website:

>The OIG maintains a list of all currently excluded individuals and entities called the List of Excluded Individuals/Entities (LEIE). Anyone who hires an individual or entity on the LEIE may be subject to civil monetary penalties (CMP). To avoid CMP liability, health care entities should routinely check the list to ensure that new hires and current employees are not on it.

This list is publicaly available, [here](https://oig.hhs.gov/exclusions/exclusions_list.asp). I have downloaded this file in its entirety (in December 2020) and have stripped it down to the columns we need.

Load the provided file into a DataFrame, named `exclusions`:

```python
exclusions = pd.read_csv('physicians_exclusions_sample3.csv')
```
This question has a number of parts:

1. Print the number of rows and columns in the exclusions dataset.
2. Display the first 6 rows the DataFrame. 
3. Display 3 random rows of the DataFrame using the `sample` method.
4. Use the `nunique` method to determine the number of unique NPIs. Compare this to the size of the dataset - what do you observe?
5. Are there any NULL `NPI` values?
6. What is the most frequent `NPI` value?
7. Apply the `unique` method to the NPI column and convert the outcome to a list of NPIs (hint use the `tolist` method). Store the output in a variable called `npis`. What is the length of `npis`?
8. Apply the `isin` method to `part_d` to tag the rows whose NPI is in the list of excluded NPIs. You can use the following code. How many records are there in `excluded1`?
```python
excluded1 = part_d[part_d['npi'].isin(npis)]
```

In [459]:
# Question 9 
# Read the dataset
exclusions = pd.read_csv('/Users/user/physicians_exclusions_sample3.csv')
print('Take a look at the exclusions dataset')
exclusions

Take a look at the exclusions dataset

         LASTNAME    FIRSTNAME STATE  NPI
0         AALDERS        NANCY    IL    0
1        AALTONEN     NICKOLAS    WA    0
2           AAMIR     MUHAMMAD    MI    0
3           AARON        ALINA    AZ    0
4           AARON  CHRISTOPHER    PA    0
...           ...          ...   ...  ...
69853   ZWOLINSKI      RUSSELL    IL    0
69854   ZYDERVELD         MARY    VA    0
69855     ZYLSTRA   CHRISTEENA    MO    0
69856     ZYLSTRA        JAMES    MN    0
69857  ZYWOCINSKI      CYNTHIA    MA    0

[69858 rows x 4 columns]

In [461]:
# Question 9-1: Print the number of rows and columns in the exclusions dataset.
print('Question 9-1: Print the number of rows and columns in the exclusions dataset')
print( 'Number of rows:',len(exclusions))
print('Number of columns:',len(exclusions.columns))

Question 9-1: Print the number of rows and columns in the exclusions dataset
Number of rows: 69858
Number of columns: 4

In [463]:
# Question 9-2: Display the first 6 rows of the DataFrame.
print('Question 9-2: Display the first 6 rows of the DataFrame')
exclusions.head(6)

Question 9-2: Display the first 6 rows of the DataFrame

   LASTNAME    FIRSTNAME STATE  NPI
0   AALDERS        NANCY    IL    0
1  AALTONEN     NICKOLAS    WA    0
2     AAMIR     MUHAMMAD    MI    0
3     AARON        ALINA    AZ    0
4     AARON  CHRISTOPHER    PA    0
5     AARON      DEBORAH    TX    0

In [464]:
# Question 9-2: Display the last 6 rows of the DataFrame.
print('Question 9-2: Display the last 6 rows of the DataFrame')
exclusions.tail(6)

Question 9-2: Display the last 6 rows of the DataFrame

         LASTNAME   FIRSTNAME STATE  NPI
69852   ZWOLINSKI       AMBER    PA    0
69853   ZWOLINSKI     RUSSELL    IL    0
69854   ZYDERVELD        MARY    VA    0
69855     ZYLSTRA  CHRISTEENA    MO    0
69856     ZYLSTRA       JAMES    MN    0
69857  ZYWOCINSKI     CYNTHIA    MA    0

In [466]:
# Question 9-3: Display 3 random rows of the DataFrame using the sample method.
print('Question 9-3: Display 3 random rows of the DataFrame')
exclusions.sample(n=3)

Question 9-3: Display 3 random rows of the DataFrame

        LASTNAME FIRSTNAME STATE  NPI
26363     HARTER       ANA    FL    0
42962  MITCHINER     LINDA    NC    0
48737      PEREZ     ERICA    MN    0

In [487]:
# Question 9-4: Use the nunique method to determine the number of unique NPIs
print('Question 9-4: Number of unique NPIs is',exclusions['NPI'].nunique())

Question 9-4: Number of unique NPIs is 5200

In [2]:
# Question 9-4: What do you obseve?
print('# Question 9-4: What do you obseve?')
print('Compared with the size of dataset, number of unique NIPs is smaller. Because there are many reocrds with NIP=0.')

# Question 9-4: What do you obseve?
Compared with the size of dataset, number of unique NIPs is smaller. Because there are many reocrds with NIP=0.

In [476]:
# Question 9-5: Are there any NULL NPI values?
print('Number of NULL NPI values:',exclusions['NPI'].isnull().sum())
print('Question 9-5: Are there any NULL NPI values? No')

Number of NULL NPI values: 0
Question 9-5: Are there any NULL NPI values? No

In [480]:
# Question 9-6: What is the most frequent NPI value?
print ('NPI and its frequency')
print(exclusions['NPI'].value_counts().sort_values(ascending=False))
print('Question 9-6: What is the most frequent NPI value? 0 ')

NPI and its frequency
0             64621
1992850416        2
1114973955        2
1659510972        2
1508069410        2
              ...
1154471621        1
1720299274        1
1952390940        1
1700040110        1
1629397278        1
Name: NPI, Length: 5200, dtype: int64
Question 9-6: What is the most frequent NPI value? 0

In [524]:
# Question 9-7: What is the length of npis?
# set the list
npis=exclusions['NPI'].unique().tolist()
print('Question 9-7: What is the length of npis?',len(npis))

Question 9-7: What is the length of npis? 5200

In [505]:
# Question 9-8: How many records are there in excluded1
excluded1 = part_d[part_d['npi'].isin(npis)]
print('Take a look at excluded1')
excluded1

Take a look at excluded1

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score,opioid_claim_rate,high_provider
4481,1770505612,YANG,HARRISON,Y,"M.D., FACP, FACC",M,I,845 MCARTHUR ST STE D,NaN,MANCHESTER,...,25.0,NaN,NaN,0.0,NaN,168.0,295.0,1.6193,0.119433,0.119433
3814,1659506111,FRANCIS,DESMOND,NaN,MD,M,I,1801 BLACK RIVER BLVD N,NaN,ROME,...,NaN,NaN,15.0,NaN,NaN,214.0,138.0,1.3818,0.089926,0.089926

In [526]:
# Question 9-8:
print('Question 9-8: How many records are there in excluded1? ',len(excluded1))

Question 9-8: How many records are there in excluded1?  2

## Question 10
In question 9 we searched for records in the part_d DataFrame whose NPI was in the exclusions dataset. Matching across the NPI yielded only 2 excluded providers. This seems suspicious. The problem is probably due to the fact that so many of the NPIs in the excluded dataset are marked as `0`. Perhaps we can do better by matching across first and last names. Let's do that in these steps.
1. As a sanity check, let's first do a merge between the two datasets on NPI. Your results should confirm the result obtained in question 9. For convenience, define this list of columns:
```python
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]
```
Perform the merge and display the output for the columns in `cols`. You can use the following code to answer this question:
```python
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
         left_on = ['npi'],
         right_on = ['NPI']
        )
excluded2[cols]
```
Your results should match the results from Question 9.


2. Since we are going to match across names, let's first convert the applicable columns to upper case and strip out any leading or trailing spaces. You can use the following code to answer this question but you'll need to apply it to the remaining first and last name columns, eg 'nppes_provider_first_name', 'nppes_provider_last_org_name', 'FIRSTNAME' and 'LASTNAME'
```python
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
```

3. Run another inner join across both datasets using first and last names. My result had 461 rows. Please take a look at the dataset filtering on the columns in `cols` as done above. What do you notice? 


4. In order to conduct a better quality match, include the state in your join keys. You should now be matching on first name, last name and state. My result had 22 records. I feel more confident in this match since the names and state lines up. You'll notice that some of the providers have 0 `opioid_claim_rate`. This is not that surprising as there are many different kinds of behaviors that a provider can engage in in order to get on the exclusisons list.

In [501]:
# Question 10-1
cols = [
    'npi', 
    'nppes_provider_first_name', 
    'nppes_provider_last_org_name', 
    'nppes_provider_state', 
    'NPI',
    'FIRSTNAME',
    'LASTNAME',
    'STATE',
    'opioid_claim_rate'
]

In [535]:
# Question 10-1
excluded2 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['npi'],
      right_on = ['NPI']
     )
print('Take a look at excluded2')
excluded2[cols]

Take a look at excluded2

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433
1,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926

In [517]:
# Question 10-2
part_d['nppes_provider_first_name'] = part_d['nppes_provider_first_name'].str.upper().str.strip()
part_d['nppes_provider_last_org_name'] = part_d['nppes_provider_last_org_name'].str.upper().str.strip()
exclusions['FIRSTNAME'] = exclusions['FIRSTNAME'].str.upper().str.strip()
exclusions['LASTNAME'] = exclusions['LASTNAME'].str.upper().str.strip()

In [536]:
# Question 10-3
excluded3 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name'],
      right_on = ['FIRSTNAME','LASTNAME']
     )
print('Take a look at excluded3')
excluded3[cols]

Take a look at excluded3

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1861566648,PATRICIA,LEE,CA,0,PATRICIA,LEE,TN,0.971530
1,1104116235,JOHN,DAVIS,VA,0,JOHN,DAVIS,CA,0.789474
2,1104116235,JOHN,DAVIS,VA,0,JOHN,DAVIS,IL,0.789474
3,1780904706,SEAN,RYAN,TX,1982923728,SEAN,RYAN,VT,0.734940
4,1356315410,DUC,NGUYEN,CA,0,DUC,NGUYEN,CA,0.727273
...,...,...,...,...,...,...,...,...,...
430,1962692269,RONALD,OWENS,CO,0,RONALD,OWENS,NC,NaN
431,1982643318,JUAN,JIMENEZ,CA,0,JUAN,JIMENEZ,FL,NaN
432,1982648333,TIMOTHY,MILLER,WV,0,TIMOTHY,MILLER,LA,NaN
433,1982648333,TIMOTHY,MILLER,WV,0,TIMOTHY,MILLER,UT,NaN
434,1992905616,SHARON,LEE,CA,0,SHARON,LEE,TX,NaN

In [529]:
print('Question 10-3: Number of rows in excluded3:',len(excluded3[cols]))

Number of rows in excluded3: 435

In [4]:
print('Question 10-3: What do you notice?')
print('There are more results in this join. Because there are many records of NPI=0. Compare with the result in next question, where state is set as key variable, it could be infered that there are many people with the same first name and last name.')

Question 10-3: What do you notice?
There are more results in this join. Because there are many records of NPI=0. Compare with the result in next question, where state is set as key variable, it could be infered that there are many people with the same first name and last name.

In [538]:
# Question 10-4
excluded4 = pd.merge(left = part_d, right = exclusions, how = 'inner', 
      left_on = ['nppes_provider_first_name','nppes_provider_last_org_name','nppes_provider_state'],
      right_on = ['FIRSTNAME','LASTNAME','STATE']
     )
print('Take a look at excluded4')
excluded4[cols]

Take a look at excluded4

,npi,nppes_provider_first_name,nppes_provider_last_org_name,nppes_provider_state,NPI,FIRSTNAME,LASTNAME,STATE,opioid_claim_rate
0,1356315410,DUC,NGUYEN,CA,0,DUC,NGUYEN,CA,0.727273
1,1518012954,DAVID,WILLIAMS,CA,0,DAVID,WILLIAMS,CA,0.281746
2,1528326428,WILLIAM,LANE,MA,0,WILLIAM,LANE,MA,0.261905
3,1184608903,ROBERT,LEE,IL,0,ROBERT,LEE,IL,0.172285
4,1770505612,HARRISON,YANG,TN,1770505612,HARRISON,YANG,TN,0.119433
5,1659506111,DESMOND,FRANCIS,NY,1659506111,DESMOND,FRANCIS,NY,0.089926
6,1053349506,JOSE,TORRES,FL,0,JOSE,TORRES,FL,0.040196
7,1942592324,JENNIFER,SMITH,NC,0,JENNIFER,SMITH,NC,0.036195
8,1275501629,ROBERT,JONES,CA,0,ROBERT,JONES,CA,0.034858
9,1356408017,ROBERT,GONZALES,CA,0,ROBERT,GONZALES,CA,0.000000
10,1538442017,JENNIFER,ORTIZ,NY,0,JENNIFER,ORTIZ,NY,0.000000
11,1346213907,STEPHEN,LEE,PA,0,STEPHEN,LEE,PA,0.000000
12,1346223179,RICHARD,SMITH,IL,0,RICHARD,SMITH,IL,0.000000
13,1700185345,ALAN,KATZ,NY,0,ALAN,KATZ,NY,0.000000
14,1144278052,ROBERT,TAYLOR,CA,0,ROBERT,TAYLOR,CA,0.000000
15,1144382672,MARY,SMITH,MS,0,MARY,SMITH,MS,0.000000
16,1871955906,CARMEN,LOPEZ,FL,0,CARMEN,LOPEZ,FL,0.000000
17,1427333186,REBECCA,MARTIN,TX,0,REBECCA,MARTIN,TX,0.000000
18,1013070861,CHARLES,HARRIS,TX,0,CHARLES,HARRIS,TX,0.000000
19,1205807864,ROBERT,ROTH,CA,1700869864,ROBERT,ROTH,CA,NaN
20,1205839776,MARTHA,MARTINEZ,TX,0,MARTHA,MARTINEZ,TX,NaN
21,1942309596,MARGARITA,RODRIGUEZ,FL,0,MARGARITA,RODRIGUEZ,FL,NaN

In [539]:
print('Question 10-4: Number of rows in excluded4:',len(excluded4[cols]))

Question 10-4: Number of rows in excluded4: 22